<!-- Header Default -->
<div class="header-wrapper">

    <div id="btnMenu" class="header-part header-left">
        <div><a><img class="header-icon" src="assets/images/common/menu-icon-white.svg"/></a></div>
    </div>

    <div id="btnBack" class="header-part header-left back">
        <div><a><i class="fa fa-caret-right fa-2x"></i></a></div>
    </div>

    <div class="header-part header-center">
        <div id="headerTitle">{{data.title}}</div>
    </div>

    <div class="header-part header-right">
        <div><a href="#map"><img class="header-icon" src="assets/images/common/map-icon-white.svg"/></a></div>
    </div>
</div>