<div id="note_wrapper" class="note">
    <div id="noteImgFullscreen">
        <i id="fullscreen_close_btn" class="fa fa-times note_close_icon"></i>
        <img/>
    </div>

    <div id="note_header"><i id="note_close_btn" class="fa fa-times note_close_icon"></i><span id="note_title">{{_r.note_view_title}}</span></div>

    <div id="note_text">

        <textarea id="note_textArea"></textarea>

        <div id="note_type">
            <select class="note-select" id="noteTypeSelect">
                <option value="1" selected="selected">{{_r.note_type_1}}</option>
                <option value="2">{{_r.note_type_2}}</option>
                <option value="3">{{_r.note_type_3}}</option>
                <option value="4">{{_r.note_type_4}}</option>
            </select>
        </div>


    </div>
    <div id="note_photo_placeholder">
        <ul>
            <li class="note_photo"><img id="noteImg"/></li>
            <li class="note_photo_details">
                <p class="photo_filename">...</p>
                <p class="photo_infos">...</p>
            </li>
            <li class="note_photo_delete"><i class="fa fa-trash-o"></i></li>
        </ul>
    </div>
    <ul id="note_btns"></ul>
</div>