<!-- MENU VIEW -->
<div>
    <!-- Logo, welcome, user name -->
    <div class="menu-header">

        <!-- USER INFOS WHEN LOGGED IN -->
        <div id="homeUserInfos">
            <img class="menu-logo" src="assets/images/common/logo.svg"/>
            <h2 class="menu-welcome">{{_r.common_welcome}}</h2>
            <p class="menu-username">{{data.displayName}}</p>
        </div>

    </div>
    <!-- menu list items -->
    <div class="menu-list-wrapper">
        <ul class="menu-list">
            <li>
                <i class="fa fa-map-marker menu-icon"></i>
                <a href="#marking/new/?clearcurrent=true">{{_r.menu_item_newMarking}}</a>
            </li>
            <li>
                <img class="menu-icon" src="assets/images/common/map-icon.svg"/>
                <a href="#map">{{_r.menu_item_map}}</a>
            </li>
            <li>
                <img class="menu-icon" src="assets/images/common/map-shared-icon.svg"/>
                <a href="#goto">{{_r.menu_item_sharedMap}}</a>
                <!-- <a href="#map/shared">{{_r.menu_item_sharedMap}}</a>-->
             </li>
             <li>
                 <i class="fa fa-calendar menu-icon"></i>
                 <a href="#manage">{{_r.menu_item_manage}}</a>
             </li>
             <li>
                 <i class="fa fa-question-circle menu-icon"></i>
                 <a href="#faq">{{_r.menu_item_faq}}</a>
             </li>
             <li>
                 <i class="fa fa-gear menu-icon"></i>
                 <a href="#settings">{{_r.menu_item_settings}}</a>
             </li>
             <li>
                 <i class="fa fa-power-off menu-icon"></i>
                 <a href="#logout">{{_r.menu_item_logout}}</a>
                <!--a href="#">{{_r.menu_item_logout}} (not activated)</a-->
             </li>
         </ul>
     </div>

    <!-- Sync needed notification view -->
    <div class="notification">
            <div class="notification-icon"><i class="fa fa-refresh"></i></div>
            <div class="notification-content"></div>
            <!--div class="notification-close"><i class="fa fa-times"></i></div-->
    </div>
 </div>