<!-- MARKING  -->
<div class="view-content map">
    <div id="view-header">Header</div>
    <div id="map-wrapper">
        <div id="customControls">
            <p id="mapAddNote" class="customControl"><i class="fa fa-edit"></i></p>
            <p id="mapIconCenter" class="customControl"><i class="fa fa-home"></i></p>
            <p id="mapIconGeolocMe" class="customControl"><i class="fa fa-location-arrow"></i></p>
            <p id="mapIconZoomPlus" class="customControl"><i class="fa fa-plus"></i></p>
            <p id="mapIconZoomMinus" class="customControl"><i class="fa fa-minus"></i></p>
            <p id="mapIconTrack" class="customControl"><i class="fa fa-dot-circle-o"></i></p>
            <p id="blockGoogleLink" class="transparentZone"></p>
        </div>
        <div id="gmap" class="map"></div>
        <div id="olmap" class="map"></div>
    </div>
</div>