<div class="marking-step-content">
    <h1 class="marking-step-title">{{_r.marking_Details_wood_title}}</h1>

    <div class="marking-form-wrapper">
        <fieldset class="marking-fieldset">
            <select class="marking-select" id="speciesSelect">
                <option value="default" selected="selected" disabled="disabled">{{_r.marking_details_form_treeType_default}}</option>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
        </fieldset>

        <fieldset class="marking-fieldset wood-summary-list">
            <ul class="">
                {{#each data.volumeList}}
                <li>{{../_r.common_volume}} {{this.index}} - {{this.volume}} {{../_r.common_stere_s}}</li>
                {{/each}}
            </ul>

            <p>{{_r.common_total}}: {{data.volumetotal}} {{_r.common_stere_s}}</p>
        </fieldset>



       </div>
    </div>


</div>

