<div class="marking-step-content">
    <h1 class="marking-step-title">{{_r.marking_newGroup_title}}</h1>
    <input class="marking-input new-group" type="text" id="groupeNameInput" placeholder="{{_r.marking_placeholder_groupName}}"/>


    <div class="nextStep">
        <h1>{{_r.common_next_step}}</h1>
        <p> {{_r.marking_Kind_title}}</p>
    </div>


</div>

