<div class="marking-step-content">
    <h1 class="marking-step-title">{{_r.marking_Details_wood_title}}</h1>

    <div class="marking-form-wrapper">

        <fieldset class="marking-fieldset">
            <input class="marking-input details-input" id="quickEstimInput" type="number" pattern="\d+(\.\d*)?" value="numeric" placeholder="{{_r.marking_placeholder_wood_value}}"/>
            <img src="assets/images/common/infos-icon.svg"  class="infoInput" id="infosQuickEstim"/>
        </fieldset>

        <fieldset class="marking-fieldset">
            <div class="simple-button" id="quickTonnageBtn">{{_r.common_next}}</div>
        </fieldset>

        <fieldset class="marking-fieldset">
            <div class="line"><span>{{_r.common_or}}</span></div>
        </fieldset>

        <fieldset class="marking-fieldset">
            <div class="simple-button allWidth" id="byVolumeBtn">{{_r.marking_wood_detailed_encoding}}</div>
        </fieldset>
       </div>



    </div>


</div>

