<div class="marking-step-content">
    <h1 class="marking-step-title">{{_r.marking_Kind_title}}</h1>

    <ul class="marking-kind-list">
        <li class="wood"><p>{{_r.marking_Details_wood_title}}</p></li>
        <li class="foot"><p>{{_r.marking_Details_foot_title}}</p></li>
        <li class="ground"><p>{{_r.marking_Details_ground_title}}</p></li>
    </ul>

    <div class="nextStep">
        <h1>{{_r.common_next_step}}</h1>
        <p>{{_r.marking_GPS_title}}</p>
    </div>


</div>

