<div class="marking-step-content">
    <h1 class="marking-step-title">{{_r.marking_Details_ground_title}}</h1>

    <div class="marking-form-wrapper">
        <fieldset class="marking-fieldset">
            <select class="marking-select" id="speciesSelect">
                <option value="default" selected="selected" disabled="disabled">{{_r.marking_details_form_treeType_default}}</option>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
        </fieldset>

        <fieldset class="marking-fieldset">
            <input class="marking-input details-input" type="number" pattern="\d+(\.\d*)?" value="numeric" id="diameterInput" placeholder="{{_r.marking_placeholder_diameter}}"/>
            <img src="assets/images/common/infos-icon.svg" class="infoInput" id="infosDiameter"/>
        </fieldset>

        <fieldset class="marking-fieldset">
            <input class="marking-input details-input" type="number" pattern="\d+(\.\d*)?" value="numeric" id="lengthInput" placeholder="{{_r.marking_placeholder_length}}"/>
            <img src="assets/images/common/infos-icon.svg" class="infoInput" id="infosLength"/>
        </fieldset>

        <fieldset class="marking-fieldset sliderFieldset">
            <label class="slider-label">{{_r.marking_details_form_quality}}</label>
            <input class="slider" type="range" name="points" id="quality-slider" value="0" min="0" max="100" list="qualityList" step="20">
            <datalist id="qualityList">
                <option value="0">
                <option value="20">
                <option value="40">
                <option value="60">
                <option value="80">
                <option value="100">
            </datalist>
            <label id="quality-value">F</label>
        </fieldset>



        <div class="nextStep">
            <h1>{{_r.common_next_step}}</h1>
            <p>{{_r.marking_Details_title}}</p>
        </div>
    </div>


</div>

