<div class="marking-step-content">
    <h1 class="marking-step-title">{{_r.marking_GPS_title}}</h1>
    <div id="getPositionBtn" class="marking-btn GPS-btn">{{_r.marking_GPS_btn_label}}</div>

    <div class="marking-gps-result">
        <i id="marking-gps-icon" class="fa fa-map-marker"></i>
        <p id="geolocationResult">___</p>
    </div>

    <div class="nextStep">
        <h1>{{_r.common_next_step}}</h1>
        <p>{{_r.marking_Details_title}}</p>
    </div>


</div>

