<!-- MARKING  -->
<div class="view-content marking">
    <div id="view-header">Header</div>
    <div id="marking-stepsInfos">

        <div id="stepInfos">1<span>/4</span></div>

        <i class="fa fa-circle small"></i>
        <i class="fa fa-circle small"></i>
        <i class="fa fa-circle" id="step1"></i>

        <i class="fa fa-circle small"></i>
        <i class="fa fa-circle small"></i>
        <i class="fa fa-circle" id="step2"></i>

        <i class="fa fa-circle small"></i>
        <i class="fa fa-circle small"></i>
        <i class="fa fa-circle" id="step3"></i>

        <i class="fa fa-circle small"></i>
        <i class="fa fa-circle small"></i>
        <i class="fa fa-circle" id="step4"></i>

        <i class="fa fa-circle small"></i>
        <i class="fa fa-circle small"></i>

    </div>

    <div id="scrollable-view">
        <div id="marking-content-wrapper" class="slider-container"></div>
    </div>

    <div class="marking-step-btn">
        <div class="marking-step-btn-row" id="stepBtn">
            <ul>
                <li class="marking-btn-cancel">{{_r.common_cancel}}</li>
                <li class="marking-btn-validate"><i class="fa fa-check fa-2x"></i></li>
            </ul>
        </div>
        <div class="marking-step-btn-row" id="endBtn">
            <ul>
                <li class="marking-btn-manage">{{_r.common_manage}}</li>
                <li class="marking-btn-new"><i class="fa fa-arrow-circle-o-right"></i>{{_r.marking_new_marking}}</li>
            </ul>
        </div>
    </div>

</div>