<div class="marking-step-content">

    <div class="end-success">
        <i class="fa fa-check-circle fa-4x"></i>
        <h1 class="marking-step-title">{{_r.marking_End_title}}</h1>
        <p><span class="marking-number">{{this.currentMarkingSeq}}</span></p>
    </div>

    <div class="add-note">
        <span>{{_r.marking_add_a_note}}</span>
        <i class="fa fa-edit fa-2x"></i>
    </div>

    <div class="marking-group-summary">
        <p>{{_r.marking_group_summary}}: {{data.customName}}</p>

        <ul>
            {{#each data.markings}}

            <!--li id="marking{{this.realIndex}}">{{this.index}} - {{this.tonnage}}m³ ({{this.kind}}) -->
            <li id="marking{{this.id}}" class="markingItem">[{{this.sequence}}] "{{this.speciesLabel}}" : {{this.tonnage}} {{this.kindShort}}
                <span>
                    <!--a href="#marking/new/?groupid={{../data.groupId}}&markingid={{this.markingid}}"><i class="fa fa-pencil"></i></a-->
                    <a class="checkedMarking"><i class="fa fa-check"></i></a>
                    <a class="editMarking"><i class="fa fa-pencil"></i></a>
                    <a class="deleteMarking"><i class="fa fa-trash-o"></i></a>
                </span>
            </li>


            {{/each}}
           <!--<li> 1 - 30m³ <span> <i class="fa fa-pencil"></i><i class="fa fa-trash-o"></i></span></li>-->

        </ul>
    </div>
</div>

