<div class="marking-step-content">
    <h1 class="marking-step-title">{{_r.marking_Details_foot_title}}</h1>

    <div class="marking-form-wrapper">
        <fieldset class="marking-fieldset">
            <select class="marking-select" id="speciesSelect">
                <option value="" selected="selected" disabled="disabled">{{_r.marking_details_form_treeType_default}}</option>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
        </fieldset>

        <fieldset class="marking-fieldset">
            <input class="marking-input details-input" type="number" pattern="\d+(\.\d*)?" value="numeric" id="circumferenceInput" placeholder="{{_r.marking_placeholder_circumference}}"/>
            <img src="assets/images/common/infos-icon.svg" class="infoInput" id="infosCircumference"/>
        </fieldset>

        <fieldset class="marking-fieldset">
            <input class="marking-input details-input" type="number" pattern="\d+(\.\d*)?" value="numeric" id="heightInput" placeholder="{{_r.marking_placeholder_height}}"/>
            <img src="assets/images/common/infos-icon.svg" class="infoInput" id="infosHeight"/>
        </fieldset>

        <fieldset class="marking-fieldset sliderFieldset">
            <label class="slider-label">{{_r.marking_details_form_quality}}</label>
            <input class="slider" type="range" name="points" id="quality-slider" value="0" min="0" max="100" list="qualityList" step="20">
            <datalist id="qualityList">
                <option value="0">
                <option value="20">
                <option value="40">
                <option value="60">
                <option value="80">
                <option value="100">
            </datalist>

            <label id="quality-value">F</label>

            <label class="slider-label">{{_r.marking_details_form_scrolling}}</label>
            <input class="slider" type="range" name="points" id="scrolling-slider" value="0.5" min="0.5" max="10" list="scrollingList" step="0.5">
            <datalist id="scrollingList">
                <option value="0.5">
                <option value="1">
                <option value="1.5">
                <option value="2">
                <option value="2.5">
                <option value="3">
                <option value="3.5">
                <option value="4">
                <option value="4.5">
                <option value="5">
                <option value="5.5">
                <option value="6">
                <option value="6.5">
                <option value="7">
                <option value="7.5">
                <option value="8">
                <option value="8.5">
                <option value="9">
                <option value="9.5">
                <option value="10">
            </datalist>

            <label id="scrolling-value">0.5</label>


        </fieldset>



       <!--div class="yes-no specialtree">
           <div class="left">
               <p>{{_r.marking_specialtree_label}}</p>
           </div>
           <div class="right">
               <p id="specialtree-no">{{_r.common_no}}</p>
               <p id="specialtree-yes">{{_r.common_yes}}</p>
           </div>
       </div-->



    </div>


</div>

