<div class="marking-step-content">
    <h1 class="marking-step-title">{{_r.marking_Details_wood_title}}</h1>

    <div class="marking-form-wrapper">

        <fieldset class="marking-fieldset byvolume-input">
            <div>
                <label>{{_r.marking_wood_volume_width}}</label>
                <input class="marking-input byvolume-input" id="widthInput" type="number" pattern="\d+(\.\d*)?" value="numeric"/>
            </div>
            <div>
                <label>{{_r.marking_wood_volume_height}}</label>
                <input class="marking-input byvolume-input" id="heightInput" type="number" pattern="\d+(\.\d*)?" value="numeric"/>
            </div>
            <div>
                <label>{{_r.marking_wood_volume_depth}}</label>
                <input class="marking-input byvolume-input" id="depthInput" type="number" pattern="\d+(\.\d*)?" value="numeric"/>
            </div>
        </fieldset>

        <fieldset class="marking-fieldset">
            <div class="simple-button" id="addVolumeBtn">{{_r.marking_wood_add}}</div>
        </fieldset>

        <div class="wood-byvolume-list">
            <ul id="volumeList">
                <!--<li><span>{{_r.common_volume}} 01 - 3 {{_r.common_stere_s}}</span> <i class="fa fa-trash-o"></i></li>-->
            </ul>
        </div>



       </div>
    </div>


</div>

