<!-- FAQ  -->
<div class="view-content faq">
    <div id="view-header">Header</div>
    <div id="faq-wrapper">
        {{#each data.faqslist}}
            <div class="faqItem">
                    <h1 class="faqClickItem">{{this.question}}</h1>
                    <p>{{this.answer}}</p>
            </div>
        {{/each}}

    </div>
</div>