<!-- Popup new batch  -->
<div>
    <h1>{{_r.manage_newBatch_popup_title}}</h1>
    <input class="popup-input" type="text" id="batchNameInput" placeholder="{{_r.manage_newBatch_popup_placeholder}}"/>
    <p>{{_r.manage_newBatch_popup_inventory_or_not}}</p>
    <div class="popup-yes-no">
            <p id="btn-no">{{_r.common_no}}</p>
            <p id="btn-yes">{{_r.common_yes}}</p>
    </div>
</div>