<!-- MENU VIEW -->
<div>
    <!-- Logo, welcome, user name -->
    <div class="login-header">

        <!-- LOGIN FORM -->
        <div id="homeloginForm">
            <img class="login-logo" src="assets/images/common/logo.svg"/>
            <h2>ONE APP TO SIMPLIFY YOUR FOREST</h2>
            <fieldset class="home-fieldset user">
                <i class="fa fa-user"></i>
                <input id="loginInput" class="home-input" type="text" placeholder="Username" >
            </fieldset>
            <fieldset class="home-fieldset pass">
                <i class="fa fa-lock"></i>
                <input id="passeInput" class="home-input" type="password" placeholder="Password"  >
            </fieldset>
            <fieldset class="home-fieldset submit">
                <div class="home-submit">Submit</div>
            </fieldset>
        </div>

    </div>

    <p class="home-help"><a href="#">Need Help?</a></p>
 </div>