<!-- SETTINGS language -->
<div class="scrollview settingsList languages">
    <ul>
        <li class="lang-choice" id="settings-language-fr-be">Français <i class="fa fa-check"></i></li>
        <li class="lang-choice" id="settings-language-nl-be">Dutch <i class="fa fa-check"></i></li>
        <li class="lang-choice" id="settings-language-en-us">English <i class="fa fa-check"></i></li>
    </ul>
</div>