<!-- SETTINGS language -->
<div class="scrollview settingsList">
    <ul>
        <li id="settings-language">{{_r.settings_languages}} <i class="fa fa-caret-right"></i></li>
        <li id="settings-privacy">{{_r.settings_privacy_policy}} <i class="fa fa-caret-right"></i></li>
        <li id="settings-clearLocalStorage">{{_r.settings_privacy_clearLocalStorage}}</li>
        <li id="settings-version">{{_r.version}} : {{_version}}</li>
    </ul>
</div>