@mixin background-image-retina($file, $type, $width:100%, $height:100%, $position:top left, $repeat:no-repeat) {
  background-image: url($file + '.' + $type);
  background-repeat: $repeat;
  background-position: $position;
  background-size: $width $height;

  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    & {
      background-image: url($file + '@2x.' + $type);
      -webkit-background-size: $width $height;
    }
  }
}