@charset "UTF-8";
/* line 5, ../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Nunito/Nunito-Light.ttf) format("opentype");
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Nunito/Nunito-Regular.ttf) format("opentype");
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Nunito/Nunito-Bold.ttf) format("opentype");
}
/* TYPE 1 : MANAGE VIEW MARKING*/
/* line 2, ../sass-files/sass/partial/common/_checkboxes.scss */
input[type=checkbox].manage-marking-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* line 14, ../sass-files/sass/partial/common/_checkboxes.scss */
input[type=checkbox].manage-marking-checkbox + label {
  box-sizing: border-box;
  padding-left: 48px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  background-repeat: no-repeat;
  background-position: 0 -23px;
  font-size: 15px;
  vertical-align: middle;
  cursor: pointer;
  background-image: url(../images/common/checkbox/manage-marking-check.png);
}

/* line 29, ../sass-files/sass/partial/common/_checkboxes.scss */
input[type=checkbox].manage-marking-checkbox:checked + label {
  background-position: 0 0;
  color: #62b5c7;
}

/* TYPE 2 : MANAGE VIEW BATCHES*/
/* line 36, ../sass-files/sass/partial/common/_checkboxes.scss */
input[type=checkbox].manage-batch-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* line 48, ../sass-files/sass/partial/common/_checkboxes.scss */
input[type=checkbox].manage-batch-checkbox + label {
  box-sizing: border-box;
  padding-left: 48px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  background-repeat: no-repeat;
  background-position: 0 -23px;
  font-size: 15px;
  vertical-align: middle;
  cursor: pointer;
  background-image: url(../images/common/checkbox/manage-batch-point.png);
}

/* line 63, ../sass-files/sass/partial/common/_checkboxes.scss */
input[type=checkbox].manage-batch-checkbox:checked + label {
  background-position: 0 0;
  color: #62b5c7;
}

/* line 2, ../sass-files/sass/partial/common/_inlineMenu.scss */
ul.bottom_btns_wrapper {
  z-index: 100;
  box-sizing: border-box;
  position: absolute;
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  min-height: 55px;
  background-color: #62b5c7;
  color: #FFFFFF;
  bottom: 0;
}

/* line 17, ../sass-files/sass/partial/common/_inlineMenu.scss */
.bottom_btns_wrapper li {
  box-sizing: border-box;
  display: table-cell;
  height: 100%;
  line-height: 100%;
  vertical-align: middle;
  border: 1px solid #c2c5d1;
  text-align: center;
}

/*!
 *  Font Awesome 4.0.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/awesome/fontawesome-webfont.eot?v=4.0.3");
  src: url("../fonts/awesome/fontawesome-webfont.eot?#iefix&v=4.0.3") format("embedded-opentype"), url("../fonts/awesome/fontawesome-webfont.woff?v=4.0.3") format("woff"), url("../fonts/awesome/fontawesome-webfont.ttf?v=4.0.3") format("truetype"), url("../fonts/awesome/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 4, ../sass-files/sass/font-awesome/_core.scss */
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */
/* line 5, ../sass-files/sass/font-awesome/_larger.scss */
.fa-lg {
  font-size: 1.3333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

/* line 10, ../sass-files/sass/font-awesome/_larger.scss */
.fa-2x {
  font-size: 2em;
}

/* line 11, ../sass-files/sass/font-awesome/_larger.scss */
.fa-3x {
  font-size: 3em;
}

/* line 12, ../sass-files/sass/font-awesome/_larger.scss */
.fa-4x {
  font-size: 4em;
}

/* line 13, ../sass-files/sass/font-awesome/_larger.scss */
.fa-5x {
  font-size: 5em;
}

/* line 3, ../sass-files/sass/font-awesome/_fixed-width.scss */
.fa-fw {
  width: 1.2857142857em;
  text-align: center;
}

/* line 8, ../sass-files/sass/font-awesome/_fixed-width.scss */
.fa-fw-23px {
  width: 23px;
  text-align: center;
}

/* line 4, ../sass-files/sass/font-awesome/_list.scss */
.fa-ul {
  padding-left: 0;
  margin-left: 2.1428571429em;
  list-style-type: none;
}
/* line 8, ../sass-files/sass/font-awesome/_list.scss */
.fa-ul > li {
  position: relative;
}

/* line 10, ../sass-files/sass/font-awesome/_list.scss */
.fa-li {
  position: absolute;
  left: -2.1428571429em;
  width: 2.1428571429em;
  top: 0.1428571429em;
  text-align: center;
}
/* line 16, ../sass-files/sass/font-awesome/_list.scss */
.fa-li.fa-lg {
  left: -1.8571428571em;
}

/* line 4, ../sass-files/sass/font-awesome/_bordered-pulled.scss */
.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em;
}

/* line 10, ../sass-files/sass/font-awesome/_bordered-pulled.scss */
.pull-right {
  float: right;
}

/* line 11, ../sass-files/sass/font-awesome/_bordered-pulled.scss */
.pull-left {
  float: left;
}

/* line 14, ../sass-files/sass/font-awesome/_bordered-pulled.scss */
.fa.pull-left {
  margin-right: .3em;
}
/* line 15, ../sass-files/sass/font-awesome/_bordered-pulled.scss */
.fa.pull-right {
  margin-left: .3em;
}

/* line 4, ../sass-files/sass/font-awesome/_spinning.scss */
.fa-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
/* line 4, ../sass-files/sass/font-awesome/_rotated-flipped.scss */
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$rotation);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 5, ../sass-files/sass/font-awesome/_rotated-flipped.scss */
.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$rotation);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 6, ../sass-files/sass/font-awesome/_rotated-flipped.scss */
.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$rotation);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* line 8, ../sass-files/sass/font-awesome/_rotated-flipped.scss */
.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$rotation);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

/* line 9, ../sass-files/sass/font-awesome/_rotated-flipped.scss */
.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$rotation);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}

/* line 4, ../sass-files/sass/font-awesome/_stacked.scss */
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

/* line 12, ../sass-files/sass/font-awesome/_stacked.scss */
.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

/* line 18, ../sass-files/sass/font-awesome/_stacked.scss */
.fa-stack-1x {
  line-height: inherit;
}

/* line 19, ../sass-files/sass/font-awesome/_stacked.scss */
.fa-stack-2x {
  font-size: 2em;
}

/* line 20, ../sass-files/sass/font-awesome/_stacked.scss */
.fa-inverse {
  color: #fff;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
/* line 4, ../sass-files/sass/font-awesome/_icons.scss */
.fa-glass:before {
  content: "";
}

/* line 5, ../sass-files/sass/font-awesome/_icons.scss */
.fa-music:before {
  content: "";
}

/* line 6, ../sass-files/sass/font-awesome/_icons.scss */
.fa-search:before {
  content: "";
}

/* line 7, ../sass-files/sass/font-awesome/_icons.scss */
.fa-envelope-o:before {
  content: "";
}

/* line 8, ../sass-files/sass/font-awesome/_icons.scss */
.fa-heart:before {
  content: "";
}

/* line 9, ../sass-files/sass/font-awesome/_icons.scss */
.fa-star:before {
  content: "";
}

/* line 10, ../sass-files/sass/font-awesome/_icons.scss */
.fa-star-o:before {
  content: "";
}

/* line 11, ../sass-files/sass/font-awesome/_icons.scss */
.fa-user:before {
  content: "";
}

/* line 12, ../sass-files/sass/font-awesome/_icons.scss */
.fa-film:before {
  content: "";
}

/* line 13, ../sass-files/sass/font-awesome/_icons.scss */
.fa-th-large:before {
  content: "";
}

/* line 14, ../sass-files/sass/font-awesome/_icons.scss */
.fa-th:before {
  content: "";
}

/* line 15, ../sass-files/sass/font-awesome/_icons.scss */
.fa-th-list:before {
  content: "";
}

/* line 16, ../sass-files/sass/font-awesome/_icons.scss */
.fa-check:before {
  content: "";
}

/* line 17, ../sass-files/sass/font-awesome/_icons.scss */
.fa-times:before {
  content: "";
}

/* line 18, ../sass-files/sass/font-awesome/_icons.scss */
.fa-search-plus:before {
  content: "";
}

/* line 19, ../sass-files/sass/font-awesome/_icons.scss */
.fa-search-minus:before {
  content: "";
}

/* line 20, ../sass-files/sass/font-awesome/_icons.scss */
.fa-power-off:before {
  content: "";
}

/* line 21, ../sass-files/sass/font-awesome/_icons.scss */
.fa-signal:before {
  content: "";
}

/* line 22, ../sass-files/sass/font-awesome/_icons.scss */
.fa-gear:before,
.fa-cog:before {
  content: "";
}

/* line 24, ../sass-files/sass/font-awesome/_icons.scss */
.fa-trash-o:before {
  content: "";
}

/* line 25, ../sass-files/sass/font-awesome/_icons.scss */
.fa-home:before {
  content: "";
}

/* line 26, ../sass-files/sass/font-awesome/_icons.scss */
.fa-file-o:before {
  content: "";
}

/* line 27, ../sass-files/sass/font-awesome/_icons.scss */
.fa-clock-o:before {
  content: "";
}

/* line 28, ../sass-files/sass/font-awesome/_icons.scss */
.fa-road:before {
  content: "";
}

/* line 29, ../sass-files/sass/font-awesome/_icons.scss */
.fa-download:before {
  content: "";
}

/* line 30, ../sass-files/sass/font-awesome/_icons.scss */
.fa-arrow-circle-o-down:before {
  content: "";
}

/* line 31, ../sass-files/sass/font-awesome/_icons.scss */
.fa-arrow-circle-o-up:before {
  content: "";
}

/* line 32, ../sass-files/sass/font-awesome/_icons.scss */
.fa-inbox:before {
  content: "";
}

/* line 33, ../sass-files/sass/font-awesome/_icons.scss */
.fa-play-circle-o:before {
  content: "";
}

/* line 34, ../sass-files/sass/font-awesome/_icons.scss */
.fa-rotate-right:before,
.fa-repeat:before {
  content: "";
}

/* line 36, ../sass-files/sass/font-awesome/_icons.scss */
.fa-refresh:before {
  content: "";
}

/* line 37, ../sass-files/sass/font-awesome/_icons.scss */
.fa-list-alt:before {
  content: "";
}

/* line 38, ../sass-files/sass/font-awesome/_icons.scss */
.fa-lock:before {
  content: "";
}

/* line 39, ../sass-files/sass/font-awesome/_icons.scss */
.fa-flag:before {
  content: "";
}

/* line 40, ../sass-files/sass/font-awesome/_icons.scss */
.fa-headphones:before {
  content: "";
}

/* line 41, ../sass-files/sass/font-awesome/_icons.scss */
.fa-volume-off:before {
  content: "";
}

/* line 42, ../sass-files/sass/font-awesome/_icons.scss */
.fa-volume-down:before {
  content: "";
}

/* line 43, ../sass-files/sass/font-awesome/_icons.scss */
.fa-volume-up:before {
  content: "";
}

/* line 44, ../sass-files/sass/font-awesome/_icons.scss */
.fa-qrcode:before {
  content: "";
}

/* line 45, ../sass-files/sass/font-awesome/_icons.scss */
.fa-barcode:before {
  content: "";
}

/* line 46, ../sass-files/sass/font-awesome/_icons.scss */
.fa-tag:before {
  content: "";
}

/* line 47, ../sass-files/sass/font-awesome/_icons.scss */
.fa-tags:before {
  content: "";
}

/* line 48, ../sass-files/sass/font-awesome/_icons.scss */
.fa-book:before {
  content: "";
}

/* line 49, ../sass-files/sass/font-awesome/_icons.scss */
.fa-bookmark:before {
  content: "";
}

/* line 50, ../sass-files/sass/font-awesome/_icons.scss */
.fa-print:before {
  content: "";
}

/* line 51, ../sass-files/sass/font-awesome/_icons.scss */
.fa-camera:before {
  content: "";
}

/* line 52, ../sass-files/sass/font-awesome/_icons.scss */
.fa-font:before {
  content: "";
}

/* line 53, ../sass-files/sass/font-awesome/_icons.scss */
.fa-bold:before {
  content: "";
}

/* line 54, ../sass-files/sass/font-awesome/_icons.scss */
.fa-italic:before {
  content: "";
}

/* line 55, ../sass-files/sass/font-awesome/_icons.scss */
.fa-text-height:before {
  content: "";
}

/* line 56, ../sass-files/sass/font-awesome/_icons.scss */
.fa-text-width:before {
  content: "";
}

/* line 57, ../sass-files/sass/font-awesome/_icons.scss */
.fa-align-left:before {
  content: "";
}

/* line 58, ../sass-files/sass/font-awesome/_icons.scss */
.fa-align-center:before {
  content: "";
}

/* line 59, ../sass-files/sass/font-awesome/_icons.scss */
.fa-align-right:before {
  content: "";
}

/* line 60, ../sass-files/sass/font-awesome/_icons.scss */
.fa-align-justify:before {
  content: "";
}

/* line 61, ../sass-files/sass/font-awesome/_icons.scss */
.fa-list:before {
  content: "";
}

/* line 62, ../sass-files/sass/font-awesome/_icons.scss */
.fa-dedent:before,
.fa-outdent:before {
  content: "";
}

/* line 64, ../sass-files/sass/font-awesome/_icons.scss */
.fa-indent:before {
  content: "";
}

/* line 65, ../sass-files/sass/font-awesome/_icons.scss */
.fa-video-camera:before {
  content: "";
}

/* line 66, ../sass-files/sass/font-awesome/_icons.scss */
.fa-picture-o:before {
  content: "";
}

/* line 67, ../sass-files/sass/font-awesome/_icons.scss */
.fa-pencil:before {
  content: "";
}

/* line 68, ../sass-files/sass/font-awesome/_icons.scss */
.fa-map-marker:before {
  content: "";
}

/* line 69, ../sass-files/sass/font-awesome/_icons.scss */
.fa-adjust:before {
  content: "";
}

/* line 70, ../sass-files/sass/font-awesome/_icons.scss */
.fa-tint:before {
  content: "";
}

/* line 71, ../sass-files/sass/font-awesome/_icons.scss */
.fa-edit:before,
.fa-pencil-square-o:before {
  content: "";
}

/* line 73, ../sass-files/sass/font-awesome/_icons.scss */
.fa-share-square-o:before {
  content: "";
}

/* line 74, ../sass-files/sass/font-awesome/_icons.scss */
.fa-check-square-o:before {
  content: "";
}

/* line 75, ../sass-files/sass/font-awesome/_icons.scss */
.fa-arrows:before {
  content: "";
}

/* line 76, ../sass-files/sass/font-awesome/_icons.scss */
.fa-step-backward:before {
  content: "";
}

/* line 77, ../sass-files/sass/font-awesome/_icons.scss */
.fa-fast-backward:before {
  content: "";
}

/* line 78, ../sass-files/sass/font-awesome/_icons.scss */
.fa-backward:before {
  content: "";
}

/* line 79, ../sass-files/sass/font-awesome/_icons.scss */
.fa-play:before {
  content: "";
}

/* line 80, ../sass-files/sass/font-awesome/_icons.scss */
.fa-pause:before {
  content: "";
}

/* line 81, ../sass-files/sass/font-awesome/_icons.scss */
.fa-stop:before {
  content: "";
}

/* line 82, ../sass-files/sass/font-awesome/_icons.scss */
.fa-forward:before {
  content: "";
}

/* line 83, ../sass-files/sass/font-awesome/_icons.scss */
.fa-fast-forward:before {
  content: "";
}

/* line 84, ../sass-files/sass/font-awesome/_icons.scss */
.fa-step-forward:before {
  content: "";
}

/* line 85, ../sass-files/sass/font-awesome/_icons.scss */
.fa-eject:before {
  content: "";
}

/* line 86, ../sass-files/sass/font-awesome/_icons.scss */
.fa-chevron-left:before {
  content: "";
}

/* line 87, ../sass-files/sass/font-awesome/_icons.scss */
.fa-chevron-right:before {
  content: "";
}

/* line 88, ../sass-files/sass/font-awesome/_icons.scss */
.fa-plus-circle:before {
  content: "";
}

/* line 89, ../sass-files/sass/font-awesome/_icons.scss */
.fa-minus-circle:before {
  content: "";
}

/* line 90, ../sass-files/sass/font-awesome/_icons.scss */
.fa-times-circle:before {
  content: "";
}

/* line 91, ../sass-files/sass/font-awesome/_icons.scss */
.fa-check-circle:before {
  content: "";
}

/* line 92, ../sass-files/sass/font-awesome/_icons.scss */
.fa-question-circle:before {
  content: "";
}

/* line 93, ../sass-files/sass/font-awesome/_icons.scss */
.fa-info-circle:before {
  content: "";
}

/* line 94, ../sass-files/sass/font-awesome/_icons.scss */
.fa-crosshairs:before {
  content: "";
}

/* line 95, ../sass-files/sass/font-awesome/_icons.scss */
.fa-times-circle-o:before {
  content: "";
}

/* line 96, ../sass-files/sass/font-awesome/_icons.scss */
.fa-check-circle-o:before {
  content: "";
}

/* line 97, ../sass-files/sass/font-awesome/_icons.scss */
.fa-ban:before {
  content: "";
}

/* line 98, ../sass-files/sass/font-awesome/_icons.scss */
.fa-arrow-left:before {
  content: "";
}

/* line 99, ../sass-files/sass/font-awesome/_icons.scss */
.fa-arrow-right:before {
  content: "";
}

/* line 100, ../sass-files/sass/font-awesome/_icons.scss */
.fa-arrow-up:before {
  content: "";
}

/* line 101, ../sass-files/sass/font-awesome/_icons.scss */
.fa-arrow-down:before {
  content: "";
}

/* line 102, ../sass-files/sass/font-awesome/_icons.scss */
.fa-mail-forward:before,
.fa-share:before {
  content: "";
}

/* line 104, ../sass-files/sass/font-awesome/_icons.scss */
.fa-expand:before {
  content: "";
}

/* line 105, ../sass-files/sass/font-awesome/_icons.scss */
.fa-compress:before {
  content: "";
}

/* line 106, ../sass-files/sass/font-awesome/_icons.scss */
.fa-plus:before {
  content: "";
}

/* line 107, ../sass-files/sass/font-awesome/_icons.scss */
.fa-minus:before {
  content: "";
}

/* line 108, ../sass-files/sass/font-awesome/_icons.scss */
.fa-asterisk:before {
  content: "";
}

/* line 109, ../sass-files/sass/font-awesome/_icons.scss */
.fa-exclamation-circle:before {
  content: "";
}

/* line 110, ../sass-files/sass/font-awesome/_icons.scss */
.fa-gift:before {
  content: "";
}

/* line 111, ../sass-files/sass/font-awesome/_icons.scss */
.fa-leaf:before {
  content: "";
}

/* line 112, ../sass-files/sass/font-awesome/_icons.scss */
.fa-fire:before {
  content: "";
}

/* line 113, ../sass-files/sass/font-awesome/_icons.scss */
.fa-eye:before {
  content: "";
}

/* line 114, ../sass-files/sass/font-awesome/_icons.scss */
.fa-eye-slash:before {
  content: "";
}

/* line 115, ../sass-files/sass/font-awesome/_icons.scss */
.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "";
}

/* line 117, ../sass-files/sass/font-awesome/_icons.scss */
.fa-plane:before {
  content: "";
}

/* line 118, ../sass-files/sass/font-awesome/_icons.scss */
.fa-calendar:before {
  content: "";
}

/* line 119, ../sass-files/sass/font-awesome/_icons.scss */
.fa-random:before {
  content: "";
}

/* line 120, ../sass-files/sass/font-awesome/_icons.scss */
.fa-comment:before {
  content: "";
}

/* line 121, ../sass-files/sass/font-awesome/_icons.scss */
.fa-magnet:before {
  content: "";
}

/* line 122, ../sass-files/sass/font-awesome/_icons.scss */
.fa-chevron-up:before {
  content: "";
}

/* line 123, ../sass-files/sass/font-awesome/_icons.scss */
.fa-chevron-down:before {
  content: "";
}

/* line 124, ../sass-files/sass/font-awesome/_icons.scss */
.fa-retweet:before {
  content: "";
}

/* line 125, ../sass-files/sass/font-awesome/_icons.scss */
.fa-shopping-cart:before {
  content: "";
}

/* line 126, ../sass-files/sass/font-awesome/_icons.scss */
.fa-folder:before {
  content: "";
}

/* line 127, ../sass-files/sass/font-awesome/_icons.scss */
.fa-folder-open:before {
  content: "";
}

/* line 128, ../sass-files/sass/font-awesome/_icons.scss */
.fa-arrows-v:before {
  content: "";
}

/* line 129, ../sass-files/sass/font-awesome/_icons.scss */
.fa-arrows-h:before {
  content: "";
}

/* line 130, ../sass-files/sass/font-awesome/_icons.scss */
.fa-bar-chart-o:before {
  content: "";
}

/* line 131, ../sass-files/sass/font-awesome/_icons.scss */
.fa-twitter-square:before {
  content: "";
}

/* line 132, ../sass-files/sass/font-awesome/_icons.scss */
.fa-facebook-square:before {
  content: "";
}

/* line 133, ../sass-files/sass/font-awesome/_icons.scss */
.fa-camera-retro:before {
  content: "";
}

/* line 134, ../sass-files/sass/font-awesome/_icons.scss */
.fa-key:before {
  content: "";
}

/* line 135, ../sass-files/sass/font-awesome/_icons.scss */
.fa-gears:before,
.fa-cogs:before {
  content: "";
}

/* line 137, ../sass-files/sass/font-awesome/_icons.scss */
.fa-comments:before {
  content: "";
}

/* line 138, ../sass-files/sass/font-awesome/_icons.scss */
.fa-thumbs-o-up:before {
  content: "";
}

/* line 139, ../sass-files/sass/font-awesome/_icons.scss */
.fa-thumbs-o-down:before {
  content: "";
}

/* line 140, ../sass-files/sass/font-awesome/_icons.scss */
.fa-star-half:before {
  content: "";
}

/* line 141, ../sass-files/sass/font-awesome/_icons.scss */
.fa-heart-o:before {
  content: "";
}

/* line 142, ../sass-files/sass/font-awesome/_icons.scss */
.fa-sign-out:before {
  content: "";
}

/* line 143, ../sass-files/sass/font-awesome/_icons.scss */
.fa-linkedin-square:before {
  content: "";
}

/* line 144, ../sass-files/sass/font-awesome/_icons.scss */
.fa-thumb-tack:before {
  content: "";
}

/* line 145, ../sass-files/sass/font-awesome/_icons.scss */
.fa-external-link:before {
  content: "";
}

/* line 146, ../sass-files/sass/font-awesome/_icons.scss */
.fa-sign-in:before {
  content: "";
}

/* line 147, ../sass-files/sass/font-awesome/_icons.scss */
.fa-trophy:before {
  content: "";
}

/* line 148, ../sass-files/sass/font-awesome/_icons.scss */
.fa-github-square:before {
  content: "";
}

/* line 149, ../sass-files/sass/font-awesome/_icons.scss */
.fa-upload:before {
  content: "";
}

/* line 150, ../sass-files/sass/font-awesome/_icons.scss */
.fa-lemon-o:before {
  content: "";
}

/* line 151, ../sass-files/sass/font-awesome/_icons.scss */
.fa-phone:before {
  content: "";
}

/* line 152, ../sass-files/sass/font-awesome/_icons.scss */
.fa-square-o:before {
  content: "";
}

/* line 153, ../sass-files/sass/font-awesome/_icons.scss */
.fa-bookmark-o:before {
  content: "";
}

/* line 154, ../sass-files/sass/font-awesome/_icons.scss */
.fa-phone-square:before {
  content: "";
}

/* line 155, ../sass-files/sass/font-awesome/_icons.scss */
.fa-twitter:before {
  content: "";
}

/* line 156, ../sass-files/sass/font-awesome/_icons.scss */
.fa-facebook:before {
  content: "";
}

/* line 157, ../sass-files/sass/font-awesome/_icons.scss */
.fa-github:before {
  content: "";
}

/* line 158, ../sass-files/sass/font-awesome/_icons.scss */
.fa-unlock:before {
  content: "";
}

/* line 159, ../sass-files/sass/font-awesome/_icons.scss */
.fa-credit-card:before {
  content: "";
}

/* line 160, ../sass-files/sass/font-awesome/_icons.scss */
.fa-rss:before {
  content: "";
}

/* line 161, ../sass-files/sass/font-awesome/_icons.scss */
.fa-hdd-o:before {
  content: "";
}

/* line 162, ../sass-files/sass/font-awesome/_icons.scss */
.fa-bullhorn:before {
  content: "";
}

/* line 163, ../sass-files/sass/font-awesome/_icons.scss */
.fa-bell:before {
  content: "";
}

/* line 164, ../sass-files/sass/font-awesome/_icons.scss */
.fa-certificate:before {
  content: "";
}

/* line 165, ../sass-files/sass/font-awesome/_icons.scss */
.fa-hand-o-right:before {
  content: "";
}

/* line 166, ../sass-files/sass/font-awesome/_icons.scss */
.fa-hand-o-left:before {
  content: "";
}

/* line 167, ../sass-files/sass/font-awesome/_icons.scss */
.fa-hand-o-up:before {
  content: "";
}

/* line 168, ../sass-files/sass/font-awesome/_icons.scss */
.fa-hand-o-down:before {
  content: "";
}

/* line 169, ../sass-files/sass/font-awesome/_icons.scss */
.fa-arrow-circle-left:before {
  content: "";
}

/* line 170, ../sass-files/sass/font-awesome/_icons.scss */
.fa-arrow-circle-right:before {
  content: "";
}

/* line 171, ../sass-files/sass/font-awesome/_icons.scss */
.fa-arrow-circle-up:before {
  content: "";
}

/* line 172, ../sass-files/sass/font-awesome/_icons.scss */
.fa-arrow-circle-down:before {
  content: "";
}

/* line 173, ../sass-files/sass/font-awesome/_icons.scss */
.fa-globe:before {
  content: "";
}

/* line 174, ../sass-files/sass/font-awesome/_icons.scss */
.fa-wrench:before {
  content: "";
}

/* line 175, ../sass-files/sass/font-awesome/_icons.scss */
.fa-tasks:before {
  content: "";
}

/* line 176, ../sass-files/sass/font-awesome/_icons.scss */
.fa-filter:before {
  content: "";
}

/* line 177, ../sass-files/sass/font-awesome/_icons.scss */
.fa-briefcase:before {
  content: "";
}

/* line 178, ../sass-files/sass/font-awesome/_icons.scss */
.fa-arrows-alt:before {
  content: "";
}

/* line 179, ../sass-files/sass/font-awesome/_icons.scss */
.fa-group:before,
.fa-users:before {
  content: "";
}

/* line 181, ../sass-files/sass/font-awesome/_icons.scss */
.fa-chain:before,
.fa-link:before {
  content: "";
}

/* line 183, ../sass-files/sass/font-awesome/_icons.scss */
.fa-cloud:before {
  content: "";
}

/* line 184, ../sass-files/sass/font-awesome/_icons.scss */
.fa-flask:before {
  content: "";
}

/* line 185, ../sass-files/sass/font-awesome/_icons.scss */
.fa-cut:before,
.fa-scissors:before {
  content: "";
}

/* line 187, ../sass-files/sass/font-awesome/_icons.scss */
.fa-copy:before,
.fa-files-o:before {
  content: "";
}

/* line 189, ../sass-files/sass/font-awesome/_icons.scss */
.fa-paperclip:before {
  content: "";
}

/* line 190, ../sass-files/sass/font-awesome/_icons.scss */
.fa-save:before,
.fa-floppy-o:before {
  content: "";
}

/* line 192, ../sass-files/sass/font-awesome/_icons.scss */
.fa-square:before {
  content: "";
}

/* line 193, ../sass-files/sass/font-awesome/_icons.scss */
.fa-bars:before {
  content: "";
}

/* line 194, ../sass-files/sass/font-awesome/_icons.scss */
.fa-list-ul:before {
  content: "";
}

/* line 195, ../sass-files/sass/font-awesome/_icons.scss */
.fa-list-ol:before {
  content: "";
}

/* line 196, ../sass-files/sass/font-awesome/_icons.scss */
.fa-strikethrough:before {
  content: "";
}

/* line 197, ../sass-files/sass/font-awesome/_icons.scss */
.fa-underline:before {
  content: "";
}

/* line 198, ../sass-files/sass/font-awesome/_icons.scss */
.fa-table:before {
  content: "";
}

/* line 199, ../sass-files/sass/font-awesome/_icons.scss */
.fa-magic:before {
  content: "";
}

/* line 200, ../sass-files/sass/font-awesome/_icons.scss */
.fa-truck:before {
  content: "";
}

/* line 201, ../sass-files/sass/font-awesome/_icons.scss */
.fa-pinterest:before {
  content: "";
}

/* line 202, ../sass-files/sass/font-awesome/_icons.scss */
.fa-pinterest-square:before {
  content: "";
}

/* line 203, ../sass-files/sass/font-awesome/_icons.scss */
.fa-google-plus-square:before {
  content: "";
}

/* line 204, ../sass-files/sass/font-awesome/_icons.scss */
.fa-google-plus:before {
  content: "";
}

/* line 205, ../sass-files/sass/font-awesome/_icons.scss */
.fa-money:before {
  content: "";
}

/* line 206, ../sass-files/sass/font-awesome/_icons.scss */
.fa-caret-down:before {
  content: "";
}

/* line 207, ../sass-files/sass/font-awesome/_icons.scss */
.fa-caret-up:before {
  content: "";
}

/* line 208, ../sass-files/sass/font-awesome/_icons.scss */
.fa-caret-left:before {
  content: "";
}

/* line 209, ../sass-files/sass/font-awesome/_icons.scss */
.fa-caret-right:before {
  content: "";
}

/* line 210, ../sass-files/sass/font-awesome/_icons.scss */
.fa-columns:before {
  content: "";
}

/* line 211, ../sass-files/sass/font-awesome/_icons.scss */
.fa-unsorted:before,
.fa-sort:before {
  content: "";
}

/* line 213, ../sass-files/sass/font-awesome/_icons.scss */
.fa-sort-down:before,
.fa-sort-asc:before {
  content: "";
}

/* line 215, ../sass-files/sass/font-awesome/_icons.scss */
.fa-sort-up:before,
.fa-sort-desc:before {
  content: "";
}

/* line 217, ../sass-files/sass/font-awesome/_icons.scss */
.fa-envelope:before {
  content: "";
}

/* line 218, ../sass-files/sass/font-awesome/_icons.scss */
.fa-linkedin:before {
  content: "";
}

/* line 219, ../sass-files/sass/font-awesome/_icons.scss */
.fa-rotate-left:before,
.fa-undo:before {
  content: "";
}

/* line 221, ../sass-files/sass/font-awesome/_icons.scss */
.fa-legal:before,
.fa-gavel:before {
  content: "";
}

/* line 223, ../sass-files/sass/font-awesome/_icons.scss */
.fa-dashboard:before,
.fa-tachometer:before {
  content: "";
}

/* line 225, ../sass-files/sass/font-awesome/_icons.scss */
.fa-comment-o:before {
  content: "";
}

/* line 226, ../sass-files/sass/font-awesome/_icons.scss */
.fa-comments-o:before {
  content: "";
}

/* line 227, ../sass-files/sass/font-awesome/_icons.scss */
.fa-flash:before,
.fa-bolt:before {
  content: "";
}

/* line 229, ../sass-files/sass/font-awesome/_icons.scss */
.fa-sitemap:before {
  content: "";
}

/* line 230, ../sass-files/sass/font-awesome/_icons.scss */
.fa-umbrella:before {
  content: "";
}

/* line 231, ../sass-files/sass/font-awesome/_icons.scss */
.fa-paste:before,
.fa-clipboard:before {
  content: "";
}

/* line 233, ../sass-files/sass/font-awesome/_icons.scss */
.fa-lightbulb-o:before {
  content: "";
}

/* line 234, ../sass-files/sass/font-awesome/_icons.scss */
.fa-exchange:before {
  content: "";
}

/* line 235, ../sass-files/sass/font-awesome/_icons.scss */
.fa-cloud-download:before {
  content: "";
}

/* line 236, ../sass-files/sass/font-awesome/_icons.scss */
.fa-cloud-upload:before {
  content: "";
}

/* line 237, ../sass-files/sass/font-awesome/_icons.scss */
.fa-user-md:before {
  content: "";
}

/* line 238, ../sass-files/sass/font-awesome/_icons.scss */
.fa-stethoscope:before {
  content: "";
}

/* line 239, ../sass-files/sass/font-awesome/_icons.scss */
.fa-suitcase:before {
  content: "";
}

/* line 240, ../sass-files/sass/font-awesome/_icons.scss */
.fa-bell-o:before {
  content: "";
}

/* line 241, ../sass-files/sass/font-awesome/_icons.scss */
.fa-coffee:before {
  content: "";
}

/* line 242, ../sass-files/sass/font-awesome/_icons.scss */
.fa-cutlery:before {
  content: "";
}

/* line 243, ../sass-files/sass/font-awesome/_icons.scss */
.fa-file-text-o:before {
  content: "";
}

/* line 244, ../sass-files/sass/font-awesome/_icons.scss */
.fa-building-o:before {
  content: "";
}

/* line 245, ../sass-files/sass/font-awesome/_icons.scss */
.fa-hospital-o:before {
  content: "";
}

/* line 246, ../sass-files/sass/font-awesome/_icons.scss */
.fa-ambulance:before {
  content: "";
}

/* line 247, ../sass-files/sass/font-awesome/_icons.scss */
.fa-medkit:before {
  content: "";
}

/* line 248, ../sass-files/sass/font-awesome/_icons.scss */
.fa-fighter-jet:before {
  content: "";
}

/* line 249, ../sass-files/sass/font-awesome/_icons.scss */
.fa-beer:before {
  content: "";
}

/* line 250, ../sass-files/sass/font-awesome/_icons.scss */
.fa-h-square:before {
  content: "";
}

/* line 251, ../sass-files/sass/font-awesome/_icons.scss */
.fa-plus-square:before {
  content: "";
}

/* line 252, ../sass-files/sass/font-awesome/_icons.scss */
.fa-angle-double-left:before {
  content: "";
}

/* line 253, ../sass-files/sass/font-awesome/_icons.scss */
.fa-angle-double-right:before {
  content: "";
}

/* line 254, ../sass-files/sass/font-awesome/_icons.scss */
.fa-angle-double-up:before {
  content: "";
}

/* line 255, ../sass-files/sass/font-awesome/_icons.scss */
.fa-angle-double-down:before {
  content: "";
}

/* line 256, ../sass-files/sass/font-awesome/_icons.scss */
.fa-angle-left:before {
  content: "";
}

/* line 257, ../sass-files/sass/font-awesome/_icons.scss */
.fa-angle-right:before {
  content: "";
}

/* line 258, ../sass-files/sass/font-awesome/_icons.scss */
.fa-angle-up:before {
  content: "";
}

/* line 259, ../sass-files/sass/font-awesome/_icons.scss */
.fa-angle-down:before {
  content: "";
}

/* line 260, ../sass-files/sass/font-awesome/_icons.scss */
.fa-desktop:before {
  content: "";
}

/* line 261, ../sass-files/sass/font-awesome/_icons.scss */
.fa-laptop:before {
  content: "";
}

/* line 262, ../sass-files/sass/font-awesome/_icons.scss */
.fa-tablet:before {
  content: "";
}

/* line 263, ../sass-files/sass/font-awesome/_icons.scss */
.fa-mobile-phone:before,
.fa-mobile:before {
  content: "";
}

/* line 265, ../sass-files/sass/font-awesome/_icons.scss */
.fa-circle-o:before {
  content: "";
}

/* line 266, ../sass-files/sass/font-awesome/_icons.scss */
.fa-quote-left:before {
  content: "";
}

/* line 267, ../sass-files/sass/font-awesome/_icons.scss */
.fa-quote-right:before {
  content: "";
}

/* line 268, ../sass-files/sass/font-awesome/_icons.scss */
.fa-spinner:before {
  content: "";
}

/* line 269, ../sass-files/sass/font-awesome/_icons.scss */
.fa-circle:before {
  content: "";
}

/* line 270, ../sass-files/sass/font-awesome/_icons.scss */
.fa-mail-reply:before,
.fa-reply:before {
  content: "";
}

/* line 272, ../sass-files/sass/font-awesome/_icons.scss */
.fa-github-alt:before {
  content: "";
}

/* line 273, ../sass-files/sass/font-awesome/_icons.scss */
.fa-folder-o:before {
  content: "";
}

/* line 274, ../sass-files/sass/font-awesome/_icons.scss */
.fa-folder-open-o:before {
  content: "";
}

/* line 275, ../sass-files/sass/font-awesome/_icons.scss */
.fa-smile-o:before {
  content: "";
}

/* line 276, ../sass-files/sass/font-awesome/_icons.scss */
.fa-frown-o:before {
  content: "";
}

/* line 277, ../sass-files/sass/font-awesome/_icons.scss */
.fa-meh-o:before {
  content: "";
}

/* line 278, ../sass-files/sass/font-awesome/_icons.scss */
.fa-gamepad:before {
  content: "";
}

/* line 279, ../sass-files/sass/font-awesome/_icons.scss */
.fa-keyboard-o:before {
  content: "";
}

/* line 280, ../sass-files/sass/font-awesome/_icons.scss */
.fa-flag-o:before {
  content: "";
}

/* line 281, ../sass-files/sass/font-awesome/_icons.scss */
.fa-flag-checkered:before {
  content: "";
}

/* line 282, ../sass-files/sass/font-awesome/_icons.scss */
.fa-terminal:before {
  content: "";
}

/* line 283, ../sass-files/sass/font-awesome/_icons.scss */
.fa-code:before {
  content: "";
}

/* line 284, ../sass-files/sass/font-awesome/_icons.scss */
.fa-reply-all:before {
  content: "";
}

/* line 285, ../sass-files/sass/font-awesome/_icons.scss */
.fa-mail-reply-all:before {
  content: "";
}

/* line 286, ../sass-files/sass/font-awesome/_icons.scss */
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "";
}

/* line 289, ../sass-files/sass/font-awesome/_icons.scss */
.fa-location-arrow:before {
  content: "";
}

/* line 290, ../sass-files/sass/font-awesome/_icons.scss */
.fa-crop:before {
  content: "";
}

/* line 291, ../sass-files/sass/font-awesome/_icons.scss */
.fa-code-fork:before {
  content: "";
}

/* line 292, ../sass-files/sass/font-awesome/_icons.scss */
.fa-unlink:before,
.fa-chain-broken:before {
  content: "";
}

/* line 294, ../sass-files/sass/font-awesome/_icons.scss */
.fa-question:before {
  content: "";
}

/* line 295, ../sass-files/sass/font-awesome/_icons.scss */
.fa-info:before {
  content: "";
}

/* line 296, ../sass-files/sass/font-awesome/_icons.scss */
.fa-exclamation:before {
  content: "";
}

/* line 297, ../sass-files/sass/font-awesome/_icons.scss */
.fa-superscript:before {
  content: "";
}

/* line 298, ../sass-files/sass/font-awesome/_icons.scss */
.fa-subscript:before {
  content: "";
}

/* line 299, ../sass-files/sass/font-awesome/_icons.scss */
.fa-eraser:before {
  content: "";
}

/* line 300, ../sass-files/sass/font-awesome/_icons.scss */
.fa-puzzle-piece:before {
  content: "";
}

/* line 301, ../sass-files/sass/font-awesome/_icons.scss */
.fa-microphone:before {
  content: "";
}

/* line 302, ../sass-files/sass/font-awesome/_icons.scss */
.fa-microphone-slash:before {
  content: "";
}

/* line 303, ../sass-files/sass/font-awesome/_icons.scss */
.fa-shield:before {
  content: "";
}

/* line 304, ../sass-files/sass/font-awesome/_icons.scss */
.fa-calendar-o:before {
  content: "";
}

/* line 305, ../sass-files/sass/font-awesome/_icons.scss */
.fa-fire-extinguisher:before {
  content: "";
}

/* line 306, ../sass-files/sass/font-awesome/_icons.scss */
.fa-rocket:before {
  content: "";
}

/* line 307, ../sass-files/sass/font-awesome/_icons.scss */
.fa-maxcdn:before {
  content: "";
}

/* line 308, ../sass-files/sass/font-awesome/_icons.scss */
.fa-chevron-circle-left:before {
  content: "";
}

/* line 309, ../sass-files/sass/font-awesome/_icons.scss */
.fa-chevron-circle-right:before {
  content: "";
}

/* line 310, ../sass-files/sass/font-awesome/_icons.scss */
.fa-chevron-circle-up:before {
  content: "";
}

/* line 311, ../sass-files/sass/font-awesome/_icons.scss */
.fa-chevron-circle-down:before {
  content: "";
}

/* line 312, ../sass-files/sass/font-awesome/_icons.scss */
.fa-html5:before {
  content: "";
}

/* line 313, ../sass-files/sass/font-awesome/_icons.scss */
.fa-css3:before {
  content: "";
}

/* line 314, ../sass-files/sass/font-awesome/_icons.scss */
.fa-anchor:before {
  content: "";
}

/* line 315, ../sass-files/sass/font-awesome/_icons.scss */
.fa-unlock-alt:before {
  content: "";
}

/* line 316, ../sass-files/sass/font-awesome/_icons.scss */
.fa-bullseye:before {
  content: "";
}

/* line 317, ../sass-files/sass/font-awesome/_icons.scss */
.fa-ellipsis-h:before {
  content: "";
}

/* line 318, ../sass-files/sass/font-awesome/_icons.scss */
.fa-ellipsis-v:before {
  content: "";
}

/* line 319, ../sass-files/sass/font-awesome/_icons.scss */
.fa-rss-square:before {
  content: "";
}

/* line 320, ../sass-files/sass/font-awesome/_icons.scss */
.fa-play-circle:before {
  content: "";
}

/* line 321, ../sass-files/sass/font-awesome/_icons.scss */
.fa-ticket:before {
  content: "";
}

/* line 322, ../sass-files/sass/font-awesome/_icons.scss */
.fa-minus-square:before {
  content: "";
}

/* line 323, ../sass-files/sass/font-awesome/_icons.scss */
.fa-minus-square-o:before {
  content: "";
}

/* line 324, ../sass-files/sass/font-awesome/_icons.scss */
.fa-level-up:before {
  content: "";
}

/* line 325, ../sass-files/sass/font-awesome/_icons.scss */
.fa-level-down:before {
  content: "";
}

/* line 326, ../sass-files/sass/font-awesome/_icons.scss */
.fa-check-square:before {
  content: "";
}

/* line 327, ../sass-files/sass/font-awesome/_icons.scss */
.fa-pencil-square:before {
  content: "";
}

/* line 328, ../sass-files/sass/font-awesome/_icons.scss */
.fa-external-link-square:before {
  content: "";
}

/* line 329, ../sass-files/sass/font-awesome/_icons.scss */
.fa-share-square:before {
  content: "";
}

/* line 330, ../sass-files/sass/font-awesome/_icons.scss */
.fa-compass:before {
  content: "";
}

/* line 331, ../sass-files/sass/font-awesome/_icons.scss */
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "";
}

/* line 333, ../sass-files/sass/font-awesome/_icons.scss */
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "";
}

/* line 335, ../sass-files/sass/font-awesome/_icons.scss */
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "";
}

/* line 337, ../sass-files/sass/font-awesome/_icons.scss */
.fa-euro:before,
.fa-eur:before {
  content: "";
}

/* line 339, ../sass-files/sass/font-awesome/_icons.scss */
.fa-gbp:before {
  content: "";
}

/* line 340, ../sass-files/sass/font-awesome/_icons.scss */
.fa-dollar:before,
.fa-usd:before {
  content: "";
}

/* line 342, ../sass-files/sass/font-awesome/_icons.scss */
.fa-rupee:before,
.fa-inr:before {
  content: "";
}

/* line 344, ../sass-files/sass/font-awesome/_icons.scss */
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "";
}

/* line 348, ../sass-files/sass/font-awesome/_icons.scss */
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "";
}

/* line 351, ../sass-files/sass/font-awesome/_icons.scss */
.fa-won:before,
.fa-krw:before {
  content: "";
}

/* line 353, ../sass-files/sass/font-awesome/_icons.scss */
.fa-bitcoin:before,
.fa-btc:before {
  content: "";
}

/* line 355, ../sass-files/sass/font-awesome/_icons.scss */
.fa-file:before {
  content: "";
}

/* line 356, ../sass-files/sass/font-awesome/_icons.scss */
.fa-file-text:before {
  content: "";
}

/* line 357, ../sass-files/sass/font-awesome/_icons.scss */
.fa-sort-alpha-asc:before {
  content: "";
}

/* line 358, ../sass-files/sass/font-awesome/_icons.scss */
.fa-sort-alpha-desc:before {
  content: "";
}

/* line 359, ../sass-files/sass/font-awesome/_icons.scss */
.fa-sort-amount-asc:before {
  content: "";
}

/* line 360, ../sass-files/sass/font-awesome/_icons.scss */
.fa-sort-amount-desc:before {
  content: "";
}

/* line 361, ../sass-files/sass/font-awesome/_icons.scss */
.fa-sort-numeric-asc:before {
  content: "";
}

/* line 362, ../sass-files/sass/font-awesome/_icons.scss */
.fa-sort-numeric-desc:before {
  content: "";
}

/* line 363, ../sass-files/sass/font-awesome/_icons.scss */
.fa-thumbs-up:before {
  content: "";
}

/* line 364, ../sass-files/sass/font-awesome/_icons.scss */
.fa-thumbs-down:before {
  content: "";
}

/* line 365, ../sass-files/sass/font-awesome/_icons.scss */
.fa-youtube-square:before {
  content: "";
}

/* line 366, ../sass-files/sass/font-awesome/_icons.scss */
.fa-youtube:before {
  content: "";
}

/* line 367, ../sass-files/sass/font-awesome/_icons.scss */
.fa-xing:before {
  content: "";
}

/* line 368, ../sass-files/sass/font-awesome/_icons.scss */
.fa-xing-square:before {
  content: "";
}

/* line 369, ../sass-files/sass/font-awesome/_icons.scss */
.fa-youtube-play:before {
  content: "";
}

/* line 370, ../sass-files/sass/font-awesome/_icons.scss */
.fa-dropbox:before {
  content: "";
}

/* line 371, ../sass-files/sass/font-awesome/_icons.scss */
.fa-stack-overflow:before {
  content: "";
}

/* line 372, ../sass-files/sass/font-awesome/_icons.scss */
.fa-instagram:before {
  content: "";
}

/* line 373, ../sass-files/sass/font-awesome/_icons.scss */
.fa-flickr:before {
  content: "";
}

/* line 374, ../sass-files/sass/font-awesome/_icons.scss */
.fa-adn:before {
  content: "";
}

/* line 375, ../sass-files/sass/font-awesome/_icons.scss */
.fa-bitbucket:before {
  content: "";
}

/* line 376, ../sass-files/sass/font-awesome/_icons.scss */
.fa-bitbucket-square:before {
  content: "";
}

/* line 377, ../sass-files/sass/font-awesome/_icons.scss */
.fa-tumblr:before {
  content: "";
}

/* line 378, ../sass-files/sass/font-awesome/_icons.scss */
.fa-tumblr-square:before {
  content: "";
}

/* line 379, ../sass-files/sass/font-awesome/_icons.scss */
.fa-long-arrow-down:before {
  content: "";
}

/* line 380, ../sass-files/sass/font-awesome/_icons.scss */
.fa-long-arrow-up:before {
  content: "";
}

/* line 381, ../sass-files/sass/font-awesome/_icons.scss */
.fa-long-arrow-left:before {
  content: "";
}

/* line 382, ../sass-files/sass/font-awesome/_icons.scss */
.fa-long-arrow-right:before {
  content: "";
}

/* line 383, ../sass-files/sass/font-awesome/_icons.scss */
.fa-apple:before {
  content: "";
}

/* line 384, ../sass-files/sass/font-awesome/_icons.scss */
.fa-windows:before {
  content: "";
}

/* line 385, ../sass-files/sass/font-awesome/_icons.scss */
.fa-android:before {
  content: "";
}

/* line 386, ../sass-files/sass/font-awesome/_icons.scss */
.fa-linux:before {
  content: "";
}

/* line 387, ../sass-files/sass/font-awesome/_icons.scss */
.fa-dribbble:before {
  content: "";
}

/* line 388, ../sass-files/sass/font-awesome/_icons.scss */
.fa-skype:before {
  content: "";
}

/* line 389, ../sass-files/sass/font-awesome/_icons.scss */
.fa-foursquare:before {
  content: "";
}

/* line 390, ../sass-files/sass/font-awesome/_icons.scss */
.fa-trello:before {
  content: "";
}

/* line 391, ../sass-files/sass/font-awesome/_icons.scss */
.fa-female:before {
  content: "";
}

/* line 392, ../sass-files/sass/font-awesome/_icons.scss */
.fa-male:before {
  content: "";
}

/* line 393, ../sass-files/sass/font-awesome/_icons.scss */
.fa-gittip:before {
  content: "";
}

/* line 394, ../sass-files/sass/font-awesome/_icons.scss */
.fa-sun-o:before {
  content: "";
}

/* line 395, ../sass-files/sass/font-awesome/_icons.scss */
.fa-moon-o:before {
  content: "";
}

/* line 396, ../sass-files/sass/font-awesome/_icons.scss */
.fa-archive:before {
  content: "";
}

/* line 397, ../sass-files/sass/font-awesome/_icons.scss */
.fa-bug:before {
  content: "";
}

/* line 398, ../sass-files/sass/font-awesome/_icons.scss */
.fa-vk:before {
  content: "";
}

/* line 399, ../sass-files/sass/font-awesome/_icons.scss */
.fa-weibo:before {
  content: "";
}

/* line 400, ../sass-files/sass/font-awesome/_icons.scss */
.fa-renren:before {
  content: "";
}

/* line 401, ../sass-files/sass/font-awesome/_icons.scss */
.fa-pagelines:before {
  content: "";
}

/* line 402, ../sass-files/sass/font-awesome/_icons.scss */
.fa-stack-exchange:before {
  content: "";
}

/* line 403, ../sass-files/sass/font-awesome/_icons.scss */
.fa-arrow-circle-o-right:before {
  content: "";
}

/* line 404, ../sass-files/sass/font-awesome/_icons.scss */
.fa-arrow-circle-o-left:before {
  content: "";
}

/* line 405, ../sass-files/sass/font-awesome/_icons.scss */
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "";
}

/* line 407, ../sass-files/sass/font-awesome/_icons.scss */
.fa-dot-circle-o:before {
  content: "";
}

/* line 408, ../sass-files/sass/font-awesome/_icons.scss */
.fa-wheelchair:before {
  content: "";
}

/* line 409, ../sass-files/sass/font-awesome/_icons.scss */
.fa-vimeo-square:before {
  content: "";
}

/* line 410, ../sass-files/sass/font-awesome/_icons.scss */
.fa-turkish-lira:before,
.fa-try:before {
  content: "";
}

/* line 412, ../sass-files/sass/font-awesome/_icons.scss */
.fa-plus-square-o:before {
  content: "";
}

/* line 5, ../sass-files/sass/views/_popups.scss */
.popup-wrapper {
  z-index: 1000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 16, ../sass-files/sass/views/_popups.scss */
.popupContent {
  position: absolute;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #e0e5e6;
  color: #2c2e33;
  width: 275px;
  height: auto;
  padding: 20px 0 0 0;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  word-wrap: break-word;
}

/* line 32, ../sass-files/sass/views/_popups.scss */
.popupContent h1 {
  margin: 10px;
  font-weight: 700;
  font-size: 20px;
}

/* line 40, ../sass-files/sass/views/_popups.scss */
.popupContent p {
  margin: 10px;
  line-height: 20px;
}

/* line 47, ../sass-files/sass/views/_popups.scss */
.popupAlignLeft {
  margin-left: 20px;
  text-align: left;
}

/* line 53, ../sass-files/sass/views/_popups.scss */
.buttonWrap {
  display: table;
  margin-top: 20px;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  height: 55px;
}

/* line 65, ../sass-files/sass/views/_popups.scss */
.buttonWrap li {
  display: table-cell;
  height: 55px;
  line-height: 55px;
  vertical-align: middle;
  border-top: 1px solid #c2c5d1;
  border-left: 1px solid #c2c5d1;
}

/* line 76, ../sass-files/sass/views/_popups.scss */
.buttonWrap > li:first-child {
  border-left: 0px solid #c2c5d1;
}

/* line 82, ../sass-files/sass/views/_popups.scss */
.popup-input {
  font-weight: 300;
  font-size: 15px;
  padding: 0px 20px 0 20px;
  height: 45px;
  border-radius: 4px;
  border: 0px solid;
  color: #2c2e33;
  margin: 10px 0 10px 0;
  text-align: center;
}

/* line 95, ../sass-files/sass/views/_popups.scss */
div.popup-yes-no {
  display: block;
  margin: 0px 0 0px 67.5px;
  text-align: center;
}

/* line 103, ../sass-files/sass/views/_popups.scss */
.popup-yes-no p {
  display: block;
  width: 70px;
  float: left;
  color: #2c2e33;
  background-color: #FFFFFF;
  height: 45px;
  line-height: 45px;
  margin: 0 0 20px 0;
}

/* line 5, ../sass-files/sass/views/_note.scss */
#body-note-wrapper {
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 14, ../sass-files/sass/views/_note.scss */
#note_wrapper {
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  color: #2c2e33;
  overflow: hidden;
}

/* line 27, ../sass-files/sass/views/_note.scss */
.note {
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 37, ../sass-files/sass/views/_note.scss */
.note.noteOpen {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 43, ../sass-files/sass/views/_note.scss */
.note.noteClose {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

/* line 50, ../sass-files/sass/views/_note.scss */
.note.noteTransition {
  -webkit-transition-duration: .25s;
  transition-duration: .25s;
}

/* line 56, ../sass-files/sass/views/_note.scss */
#note_header {
  width: 100%;
  box-sizing: border-box;
  height: 55px;
  line-height: 55px;
  vertical-align: middle;
  background-color: #e0e5e6;
  border-bottom: 1px solid #c2c5d1;
  font-size: 20px;
  text-align: center;
}

/* line 69, ../sass-files/sass/views/_note.scss */
#note_header .note_close_icon {
  position: absolute;
  left: 20px;
  top: 10px;
  font-weight: 400;
  font-size: 30px;
}

/* line 78, ../sass-files/sass/views/_note.scss */
#note_type {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 45px;
}

/* line 88, ../sass-files/sass/views/_note.scss */
.note-select {
  position: absolute;
  padding: 0px 20px 0 20px;
  height: 45px;
  font-weight: 700;
}

/* line 96, ../sass-files/sass/views/_note.scss */
#note_text {
  background-color: #eeeeee;
  width: 100%;
}

/* line 102, ../sass-files/sass/views/_note.scss */
#note_textArea {
  position: absolute;
  box-sizing: border-box;
  width: 96%;
  background-color: #ffffff;
  border: 0px solid;
  padding: 20px 20px 20px 20px;
  margin-left: 2%;
  font-size: 15px;
  line-height: 25px;
  min-height: 150px;
}

/* line 116, ../sass-files/sass/views/_note.scss */
#note_photo_placeholder {
  position: absolute;
  box-sizing: border-box;
  padding: 20px 20px 0px 20px;
  width: 100%;
  height: 70px;
  bottom: 75px;
  text-align: center;
}

/* line 129, ../sass-files/sass/views/_note.scss */
#note_photo_placeholder ul {
  position: absolute;
  left: 20px;
  top: 20px;
  box-sizing: border-box;
  display: table;
  width: 100%;
  border: 1px dashed #c2c5d1;
  border-collapse: collapse;
  height: 50px;
  background-color: #e0e5e6;
  overflow: hidden;
}

/* line 144, ../sass-files/sass/views/_note.scss */
#note_photo_placeholder ul li {
  display: table-cell;
  overflow: hidden;
}

/* line 150, ../sass-files/sass/views/_note.scss */
.note_photo {
  width: 80px;
  height: 50px;
}

/* line 157, ../sass-files/sass/views/_note.scss */
.note_photo img {
  position: absolute;
  left: 0;
  background-color: #2c2e33;
  width: 80px;
  height: auto;
  margin: 0px;
  padding: 0px;
}

/* line 176, ../sass-files/sass/views/_note.scss */
.note_photo_details p {
  width: 100%;
  text-align: left;
  margin: 5px 0 0 10px;
}

/* line 192, ../sass-files/sass/views/_note.scss */
.photo_infos {
  font-size: 10px;
  font-weight: 300;
}

/* line 199, ../sass-files/sass/views/_note.scss */
.note_photo_delete {
  width: 60px;
  height: 100%;
  line-height: 100%;
  vertical-align: middle;
  font-size: 30px;
}

/* line 209, ../sass-files/sass/views/_note.scss */
#note_btns {
  box-sizing: border-box;
  position: absolute;
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  height: 55px;
  background-color: #e0e5e6;
  bottom: 0;
}

/* line 222, ../sass-files/sass/views/_note.scss */
#note_btns li {
  box-sizing: border-box;
  display: table-cell;
  height: 100%;
  line-height: 100%;
  vertical-align: middle;
  border: 1px solid #c2c5d1;
  text-align: center;
}

/* line 233, ../sass-files/sass/views/_note.scss */
#noteImgFullscreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 501;
  width: 100%;
  background-color: #000000;
}

/* line 245, ../sass-files/sass/views/_note.scss */
#noteImgFullscreen img {
  position: absolute;
}

/* line 251, ../sass-files/sass/views/_note.scss */
#fullscreen_close_btn {
  z-index: 502;
  color: #FFFFFF;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 20px;
}

/*
Header View
*/
/* line 2, ../sass-files/sass/views/_header.scss */
#view-header {
  width: 100%;
  height: 54px;
  background-color: #83bb3f;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

/* line 10, ../sass-files/sass/views/_header.scss */
.header-wrapper {
  width: 100%;
}

/* line 15, ../sass-files/sass/views/_header.scss */
.header-part {
  position: absolute;
}

/* line 20, ../sass-files/sass/views/_header.scss */
.header-part div {
  box-sizing: border-box;
  height: 54px;
  line-height: 54px;
  vertical-align: middle;
  color: #FFFFFF;
}

/* line 29, ../sass-files/sass/views/_header.scss */
.header-left {
  box-sizing: border-box;
  height: 54px;
  z-index: 11;
  line-height: 54px;
  text-align: left;
  width: auto;
  min-width: 35px;
}

/* line 41, ../sass-files/sass/views/_header.scss */
.header-left a {
  display: block;
  box-sizing: border-box;
  height: 54px;
  min-width: 35px;
  padding: 6px 20px 0 20px;
}

/* line 51, ../sass-files/sass/views/_header.scss */
.header-center {
  z-index: 10;
  top: 0;
  left: 0;
  font-size: 20px;
  text-align: center;
  width: 100%;
}

/* line 61, ../sass-files/sass/views/_header.scss */
.header-right {
  z-index: 12;
  top: 0;
  right: 0;
  margin-right: 20px;
  text-align: center;
  width: auto;
}

/* line 72, ../sass-files/sass/views/_header.scss */
.header-icon {
  text-align: center;
  color: #FFFFFF;
  font-size: 25px;
  width: 25px;
}

/*
Menu View
*/
/*
Menu View
*/
/* line 6, ../sass-files/sass/views/_home.scss */
#menu-wrapper {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../images/common/menu_bkg.jpg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100% 480px;
  background-attachment: fixed;
  background-color: #62b5c7;
  overflow: auto;
}
@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
  /* line 8, ../sass-files/sass/mixins/retina/_retina.scss */
  #menu-wrapper {
    background-image: url("../images/common/menu_bkg@2x.jpg");
    -webkit-background-size: 100% 480px;
  }
}

/* line 21, ../sass-files/sass/views/_home.scss */
#homeloginForm {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 275px;
  text-align: left;
}

/* line 33, ../sass-files/sass/views/_home.scss */
.menu-logo {
  height: 18px;
  opacity: 0.5;
  margin-bottom: 20px;
}

/* line 40, ../sass-files/sass/views/_home.scss */
.menu-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 22px 22px 22px 22px;
}

/* line 46, ../sass-files/sass/views/_home.scss */
.menu-welcome {
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  color: #FFFFFF;
  opacity: 0.5;
  font-weight: 300;
  margin-bottom: 8px;
}

/* line 51, ../sass-files/sass/views/_home.scss */
.menu-username {
  font-size: 30px;
  font-family: "Nunito", sans-serif;
  color: #FFFFFF;
  opacity: 1;
  font-weight: 300;
}

/* line 56, ../sass-files/sass/views/_home.scss */
.menu-list-wrapper {
  /* width: 100%;
   height: 100%;
   overflow: auto;*/
}

/* line 64, ../sass-files/sass/views/_home.scss */
.menu-icon {
  display: block;
  float: left;
  text-align: center;
  margin-right: 23px;
  color: #255e6a;
  font-size: 25px;
  width: 25px;
  line-height: 50px;
}

/* line 76, ../sass-files/sass/views/_home.scss */
img.menu-icon {
  margin-top: 13px;
}

/* line 81, ../sass-files/sass/views/_home.scss */
.menu-list {
  margin: 0px 0px 0px 22px;
}

/* line 88, ../sass-files/sass/views/_home.scss */
.menu-list li {
  display: block;
  line-height: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  vertical-align: middle;
}
/* line 95, ../sass-files/sass/views/_home.scss */
.menu-list li a:link, .menu-list li a:visited, .menu-list li a:hover, .menu-list li a:active {
  color: #255e6a;
  text-decoration: none;
  display: block;
  line-height: 50px;
  padding: 0 0 0 40px;
}

/* line 107, ../sass-files/sass/views/_home.scss */
.home-fieldset {
  position: absolute;
  box-sizing: border-box;
  border: 0px;
  display: block;
  font-weight: 300;
  text-align: left;
  width: 275px;
  height: 45px;
}

/* line 120, ../sass-files/sass/views/_home.scss */
.home-input {
  position: absolute;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  padding: 0px 20px 0 40px;
  height: 45px;
  border-radius: 4px;
  border: 0px solid;
  color: #2c2e33;
  width: 275px;
}

/* line 135, ../sass-files/sass/views/_home.scss */
.home-fieldset i {
  z-index: 20;
  position: absolute;
  left: 15px;
  top: 15px;
  color: #c2c5d1;
  font-size: 15px;
  line-height: 15px;
  padding: 0;
  margin: 0;
}

/* line 149, ../sass-files/sass/views/_home.scss */
.home-submit {
  box-sizing: border-box;
  font-weight: 300;
  font-size: 15px;
  height: 45px;
  line-height: 45px;
  border-radius: 4px;
  border: 0px solid;
  color: #FFFFFF;
  background-color: #2c2e33;
  width: 275px;
  text-align: center;
  display: block;
}

/* line 165, ../sass-files/sass/views/_home.scss */
.home-help {
  margin-top: 10px;
  position: absolute;
}
/* line 170, ../sass-files/sass/views/_home.scss */
.home-help a:link, .home-help a:visited, .home-help a:hover, .home-help a:active {
  color: #FFFFFF;
  text-decoration: underline;
}

/* line 177, ../sass-files/sass/views/_home.scss */
#homeloginForm h2 {
  color: #FFFFFF;
  opacity: .5;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

/* line 188, ../sass-files/sass/views/_home.scss */
.login-logo {
  height: 25px;
  opacity: 1;
}

/* line 194, ../sass-files/sass/views/_home.scss */
.user {
  top: 100px;
}

/* line 199, ../sass-files/sass/views/_home.scss */
.pass {
  top: 155px;
}

/* line 203, ../sass-files/sass/views/_home.scss */
.submit {
  top: 210px;
}

/*
Map View
*/
/* line 1, ../sass-files/sass/views/_map.scss */
#map-wrapper {
  position: absolute;
  top: 54px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: #e0e5e6;
}

/* line 11, ../sass-files/sass/views/_map.scss */
.map {
  width: 100%;
  height: 100%;
}

/* line 17, ../sass-files/sass/views/_map.scss */
#customControls {
  /*z-index: 100;
  position: absolute;
  top: 20px;
  right: 20px;*/
}

/* line 27, ../sass-files/sass/views/_map.scss */
.customControl {
  position: absolute;
  z-index: 100;
  background-color: #FFFFFF;
  color: #50535d;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

/* line 39, ../sass-files/sass/views/_map.scss */
.customControl i {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
}

/* line 49, ../sass-files/sass/views/_map.scss */
#mapIconCenter {
  left: 10px;
  top: 30px;
}

/* line 54, ../sass-files/sass/views/_map.scss */
#mapIconGeolocMe {
  left: 10px;
  bottom: 30px;
}

/* line 59, ../sass-files/sass/views/_map.scss */
#mapAddNote {
  left: 60px;
  bottom: 30px;
}

/* line 65, ../sass-files/sass/views/_map.scss */
#mapIconZoomPlus {
  right: 10px;
  bottom: 80px;
}

/* line 70, ../sass-files/sass/views/_map.scss */
#mapIconZoomMinus {
  right: 10px;
  bottom: 30px;
}

/* line 76, ../sass-files/sass/views/_map.scss */
#mapIconTrack {
  left: 10px;
  bottom: 30px;
  color: #aa0000;
}

/* line 83, ../sass-files/sass/views/_map.scss */
#blockGoogleLink {
  position: absolute;
  z-index: 90;
  width: 100%;
  height: 30px;
  left: 0;
  bottom: 0;
}

/* line 95, ../sass-files/sass/views/_map.scss */
#loadingIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
}

/* line 105, ../sass-files/sass/views/_map.scss */
#loadingIcon i {
  width: 20px;
  height: 20px;
  font-size: 20px;
  position: relative;
  left: -50%;
  top: -50%;
}

/* line 118, ../sass-files/sass/views/_map.scss */
#map {
  width: 300px;
  height: 300px;
}

/* line 125, ../sass-files/sass/views/_map.scss */
div.ol-logo {
  left: 65px;
}

/*
FAQ View
*/
/* line 1, ../sass-files/sass/views/_faq.scss */
#faq-wrapper {
  position: absolute;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  top: 56px;
  bottom: 0px;
}

/* line 11, ../sass-files/sass/views/_faq.scss */
.faqItem {
  background-color: #e0e5e6;
  color: #2c2e33;
  font-size: 15px;
}

/* line 18, ../sass-files/sass/views/_faq.scss */
.faqItem h1 {
  box-sizing: border-box;
  font-weight: 700;
  border-top: 1px solid #c2c5d1;
  width: 100%;
  padding: 10px 20px 10px 20px;
}

/* line 27, ../sass-files/sass/views/_faq.scss */
.faqItem p {
  box-sizing: border-box;
  display: none;
  font-weight: 300;
  line-height: 20px;
  padding: 10px 20px 10px 20px;
}

/*
MANAGE View
*/
/* line 3, ../sass-files/sass/views/_manage.scss */
.tabWrap {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

/* line 12, ../sass-files/sass/views/_manage.scss */
.tabWrap li {
  display: table-cell;
  background-color: #83bb3f;
  height: 45px;
  line-height: 45px;
  vertical-align: middle;
  border-left: 1px solid #95c758;
  text-align: center;
  color: #FFFFFF;
}

/* line 25, ../sass-files/sass/views/_manage.scss */
.scrollview {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* line 31, ../sass-files/sass/views/_manage.scss */
.tabContent {
  position: absolute;
  width: 100%;
  top: 101px;
  bottom: 0;
}

/* line 41, ../sass-files/sass/views/_manage.scss */
.accordionItem h1 {
  color: #2c2e33;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 15px;
  border-top: 1px solid #c2c5d1;
  width: 100%;
  padding: 0px 20px 0px 20px;
  background-color: #FFFFFF;
  height: 50px;
  line-height: 50px;
}

/* line 56, ../sass-files/sass/views/_manage.scss */
.accordionItem p {
  box-sizing: border-box;
  display: none;
  font-weight: 300;
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  padding: 0px 20px 0px 20px;
  background-color: #36383d;
  color: #FFFFFF;
}

/* line 69, ../sass-files/sass/views/_manage.scss */
.accordionItem p i {
  position: absolute;
  right: 18px;
  font-size: 20px;
  line-height: 50px;
  vertical-align: middle;
  color: #c2c5d1;
  font-size: 20px;
  padding: 0 10px 0 10px;
}

/* line 82, ../sass-files/sass/views/_manage.scss */
.accordionItem h1 i {
  position: absolute;
  right: 20px;
  font-size: 20px;
  line-height: 50px;
  vertical-align: middle;
  color: #c2c5d1;
  padding: 0 10px 0 10px;
}

/* BATCH TAB */
/* line 95, ../sass-files/sass/views/_manage.scss */
.manage-marking-check {
  padding-left: 20px;
}

/* line 102, ../sass-files/sass/views/_manage.scss */
p.batch-price {
  box-sizing: border-box;
  color: #e0e5e6;
  line-height: 50px;
  vertical-align: middle;
  display: none;
  height: 50px;
  width: 100%;
  border-collapse: collapse;
}

/* line 115, ../sass-files/sass/views/_manage.scss */
p.batch-price span {
  box-sizing: border-box;
  display: table-cell;
  padding-left: 20px;
  padding-top: 5px;
}

/* line 122, ../sass-files/sass/views/_manage.scss */
p.batch-price span.price {
  box-sizing: border-box;
  width: 100px;
  text-align: right;
  padding-right: 20px;
  font-size: 15px;
}

/*
Marking View
*/
/* line 7, ../sass-files/sass/views/_marking.scss */
.marking {
  background-image: url("../images/common/marking_bkg.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100% 116px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
  /* line 8, ../sass-files/sass/mixins/retina/_retina.scss */
  .marking {
    background-image: url("../images/common/marking_bkg@2x.png");
    -webkit-background-size: 100% 116px;
  }
}

/* line 12, ../sass-files/sass/views/_marking.scss */
#marking-stepsInfos {
  display: block;
  width: 100%;
  height: 72px;
  background-color: #83bb3f;
  line-height: 72px;
  vertical-align: middle;
  color: #bae981;
  text-align: center;
}

/* line 24, ../sass-files/sass/views/_marking.scss */
#marking-stepsInfos i {
  display: inline-block;
  box-sizing: border-box;
  line-height: 72px;
  vertical-align: middle;
  font-size: 18px;
  margin: 0 3px 0 3px;
}

/* line 35, ../sass-files/sass/views/_marking.scss */
#marking-stepsInfos .big {
  font-size: 50px;
}

/* line 41, ../sass-files/sass/views/_marking.scss */
#marking-stepsInfos .small {
  font-size: 5px;
}

/* line 46, ../sass-files/sass/views/_marking.scss */
#stepInfos {
  box-sizing: border-box;
  position: fixed;
  background-image: url("../images/common/marking-stepinfos-bkg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  color: #FFFFFF;
}

/* line 64, ../sass-files/sass/views/_marking.scss */
#stepInfos span {
  font-size: 10px;
  font-weight: 300;
}

/* line 71, ../sass-files/sass/views/_marking.scss */
#scrollable-view {
  position: absolute;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  top: 128px;
  bottom: 55px;
}

/* line 82, ../sass-files/sass/views/_marking.scss */
#marking-content-wrapper {
  z-index: 0;
  text-align: center;
}

/* line 88, ../sass-files/sass/views/_marking.scss */
.marking-step-title {
  color: #2c2e33;
  font-size: 20px;
  margin: 40px 0  40px 0;
}

/* line 95, ../sass-files/sass/views/_marking.scss */
.nextStep {
  display: none;
  margin: 80px 0 0 0;
  height: 55px;
}

/* line 102, ../sass-files/sass/views/_marking.scss */
.nextStep h1 {
  color: #2c2e33;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

/* line 110, ../sass-files/sass/views/_marking.scss */
.nextStep p {
  color: #2c2e33;
  font-size: 15px;
  font-weight: 300;
  opacity: .7;
  text-align: center;
  margin-bottom: 10px;
}

/* line 121, ../sass-files/sass/views/_marking.scss */
.marking-step-btn {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
  z-index: 30;
  margin-top: 30px;
}

/* line 131, ../sass-files/sass/views/_marking.scss */
.marking-step-btn-row {
  display: table;
  table-layout: fixed;
  width: 100%;
}

/* line 138, ../sass-files/sass/views/_marking.scss */
.marking-step-btn ul {
  display: table-row;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

/* line 147, ../sass-files/sass/views/_marking.scss */
.marking-step-btn-row li {
  display: table-cell;
  border-collapse: collapse;
  height: 55px;
  vertical-align: middle;
  border: 1px solid #c2c5d1;
  color: #2c2e33;
  overflow: hidden;
}

/* line 158, ../sass-files/sass/views/_marking.scss */
.marking-btn-new i {
  margin-right: 10px;
  color: #c2c5d1;
}

/* line 164, ../sass-files/sass/views/_marking.scss */
.marking-input {
  font-weight: 300;
  font-size: 15px;
  padding: 0px 20px 0 20px;
  height: 45px;
  border-radius: 4px;
  border: 0px solid;
  color: #2c2e33;
}

/* line 175, ../sass-files/sass/views/_marking.scss */
.marking-btn {
  font-weight: 300;
  font-size: 15px;
  height: 62px;
  line-height: 62px;
  border-radius: 4px;
  border: 0px solid;
  color: #FFFFFF;
  background-color: #62b5c7;
}

/* line 187, ../sass-files/sass/views/_marking.scss */
.GPS-btn {
  width: 275px;
  margin: auto;
}

/* line 193, ../sass-files/sass/views/_marking.scss */
.marking-gps-result i {
  color: #c2c5d1;
  font-size: 50px;
  margin-top: 20px;
}

/* line 200, ../sass-files/sass/views/_marking.scss */
.marking-gps-result p {
  font-size: 10px;
  color: #2c2e33;
  margin-top: 20px;
}

/* line 207, ../sass-files/sass/views/_marking.scss */
.new-group {
  box-sizing: border-box;
  width: 275px;
}

/* line 213, ../sass-files/sass/views/_marking.scss */
.marking-kind-list li {
  display: block;
  height: 70px;
  line-height: 70px;
  vertical-align: middle;
  margin-bottom: 1px;
  background-color: #FFFFFF;
  text-align: center;
  color: #2c2e33;
  font-weight: 300;
}

/* line 226, ../sass-files/sass/views/_marking.scss */
.marking-kind-list li p {
  text-align: left;
  padding-left: 73px;
  display: block;
  width: 210px;
  margin: auto;
}

/* line 236, ../sass-files/sass/views/_marking.scss */
.marking-kind-list li.foot p {
  background-image: url("../images/common/foot-icon.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 68px 68px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
  /* line 8, ../sass-files/sass/mixins/retina/_retina.scss */
  .marking-kind-list li.foot p {
    background-image: url("../images/common/foot-icon@2x.png");
    -webkit-background-size: 68px 68px;
  }
}

/* line 240, ../sass-files/sass/views/_marking.scss */
.marking-kind-list li.wood p {
  background-image: url("../images/common/wood-icon.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 68px 68px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
  /* line 8, ../sass-files/sass/mixins/retina/_retina.scss */
  .marking-kind-list li.wood p {
    background-image: url("../images/common/wood-icon@2x.png");
    -webkit-background-size: 68px 68px;
  }
}

/* line 244, ../sass-files/sass/views/_marking.scss */
.marking-kind-list li.ground p {
  background-image: url("../images/common/ground-icon.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 68px 68px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
  /* line 8, ../sass-files/sass/mixins/retina/_retina.scss */
  .marking-kind-list li.ground p {
    background-image: url("../images/common/ground-icon@2x.png");
    -webkit-background-size: 68px 68px;
  }
}

/* line 249, ../sass-files/sass/views/_marking.scss */
.marking-form-wrapper {
  margin: auto;
  box-sizing: border-box;
  width: 275px;
}

/* line 256, ../sass-files/sass/views/_marking.scss */
.marking-fieldset {
  border: 0px;
  margin: 10px 0 0 0;
  font-weight: 300;
  text-align: left;
}

/* line 265, ../sass-files/sass/views/_marking.scss */
.marking-fieldset img {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  vertical-align: middle;
}

/* line 273, ../sass-files/sass/views/_marking.scss */
.sliderFieldset {
  color: #2c2e33;
  margin-bottom: 20px;
}

/* line 279, ../sass-files/sass/views/_marking.scss */
.slider {
  width: 235px;
}

/* line 284, ../sass-files/sass/views/_marking.scss */
.details-input {
  box-sizing: border-box;
  width: 235px;
}

/* line 290, ../sass-files/sass/views/_marking.scss */
.slider {
  margin-top: 10px;
  color: #2c2e33;
  text-align: left;
}

/* line 297, ../sass-files/sass/views/_marking.scss */
fieldset .scrolling {
  margin-bottom: 30px;
}

/* line 302, ../sass-files/sass/views/_marking.scss */
.slider-label {
  display: block;
  vertical-align: middle;
  margin: 10px 0 10px 20px;
}

/* line 309, ../sass-files/sass/views/_marking.scss */
input[type=range] {
  -webkit-appearance: none;
  background-color: silver;
  border-radius: 10px;
  height: 10px;
}

/* line 316, ../sass-files/sass/views/_marking.scss */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #2c2e33;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

/* line 325, ../sass-files/sass/views/_marking.scss */
#quality-value {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 0 10px 10px;
  font-weight: 400;
  text-align: center;
}

/* line 336, ../sass-files/sass/views/_marking.scss */
.marking-select {
  padding: 0px 20px 0 20px;
  height: 45px;
  font-weight: 700;
}

/* line 343, ../sass-files/sass/views/_marking.scss */
.end-success {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #83bb3f;
}

/* line 350, ../sass-files/sass/views/_marking.scss */
.end-success i {
  color: #bae981;
}

/* line 354, ../sass-files/sass/views/_marking.scss */
.end-success h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 359, ../sass-files/sass/views/_marking.scss */
.end-success p {
  color: #2c2e33;
  font-size: 20px;
}

/* line 365, ../sass-files/sass/views/_marking.scss */
.end-success .marking-number {
  font-size: 40px;
}

/* line 370, ../sass-files/sass/views/_marking.scss */
.add-note {
  background-color: #95c758;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  line-height: 44px;
  vertical-align: middle;
}

/* line 381, ../sass-files/sass/views/_marking.scss */
.add-note i {
  /*height:44px;
  line-height: 44px;*/
  vertical-align: middle;
  margin-left: 10px;
}

/* line 389, ../sass-files/sass/views/_marking.scss */
.marking-group-summary {
  color: #2c2e33;
  background-color: #e0e5e6;
}

/* line 395, ../sass-files/sass/views/_marking.scss */
.marking-group-summary p {
  display: block;
  line-height: 44px;
  text-align: center;
  border-bottom: 1px solid #83bb3f;
  vertical-align: middle;
  font-weight: 300;
}

/* line 405, ../sass-files/sass/views/_marking.scss */
.marking-group-summary li {
  display: block;
  line-height: 50px;
  text-align: left;
  padding-left: 20px;
  font-size: 12px;
}
/* line 413, ../sass-files/sass/views/_marking.scss */
.marking-group-summary li a:link, .marking-group-summary li a:visited, .marking-group-summary li a:hover, .marking-group-summary li a:active {
  color: #2c2e33;
  text-decoration: none;
}

/* line 420, ../sass-files/sass/views/_marking.scss */
.marking-group-summary li span {
  position: absolute;
  right: 0;
  width: 100%;
  text-align: right;
}

/* line 428, ../sass-files/sass/views/_marking.scss */
.marking-group-summary li i {
  vertical-align: middle;
  font-size: 20px;
  margin-right: 20px;
}

/* line 436, ../sass-files/sass/views/_marking.scss */
.yes-no {
  position: relative;
  box-sizing: border-box;
  height: 45px;
  width: 275px;
  margin: 10px 0 20px;
  font-size: 15px;
}

/* line 447, ../sass-files/sass/views/_marking.scss */
.yes-no .left {
  position: absolute;
  width: 145px;
  left: 0;
  top: 0;
  height: 100%;
}

/* line 458, ../sass-files/sass/views/_marking.scss */
.yes-no .right {
  position: absolute;
  width: 130px;
  right: 0;
  top: 0;
}

/* line 467, ../sass-files/sass/views/_marking.scss */
.yes-no .right p {
  display: block;
  width: 50%;
  float: left;
  color: #2c2e33;
  background-color: #FFFFFF;
  height: 45px;
  line-height: 45px;
}

/* line 479, ../sass-files/sass/views/_marking.scss */
.yes-no .left p {
  position: absolute;
  top: 0;
  left: 0;
  color: #2c2e33;
  padding-right: 10px;
  text-align: left;
  vertical-align: middle;
}

/* line 491, ../sass-files/sass/views/_marking.scss */
.wood-summary-list li {
  display: block;
  color: #2c2e33;
  font-size: 15px;
  line-height: 42px;
  border-bottom: 1px solid #c2c5d1;
}

/* line 500, ../sass-files/sass/views/_marking.scss */
.wood-summary-list p {
  color: #2c2e33;
  font-size: 15px;
  font-weight: 700;
  margin: 15px 0 15px 0;
}

/* line 508, ../sass-files/sass/views/_marking.scss */
.wood-byvolume-list {
  display: block;
  width: 275px;
}

/* line 514, ../sass-files/sass/views/_marking.scss */
.wood-byvolume-list ul {
  display: table;
  table-layout: fixed;
  margin-top: 20px;
}

/* line 521, ../sass-files/sass/views/_marking.scss */
.wood-byvolume-list ul li:last-child {
  border-bottom: 0px solid #c2c5d1;
}

/* line 526, ../sass-files/sass/views/_marking.scss */
.wood-byvolume-list li {
  border-bottom: 1px solid #c2c5d1;
  color: #2c2e33;
  font-size: 15px;
  line-height: 42px;
  width: 275px;
  text-align: left;
}

/* line 537, ../sass-files/sass/views/_marking.scss */
.wood-byvolume-list li span {
  display: table-cell;
  width: 245px;
}

/* line 543, ../sass-files/sass/views/_marking.scss */
.wood-byvolume-list li i {
  display: table-cell;
  width: 30px;
  text-align: center;
}

/* line 551, ../sass-files/sass/views/_marking.scss */
.byvolume-input div {
  box-sizing: border-box;
  width: 85px;
  float: left;
}

/* line 560, ../sass-files/sass/views/_marking.scss */
.byvolume-input div:last-child {
  margin-left: 10px;
}

/* line 565, ../sass-files/sass/views/_marking.scss */
.byvolume-input div:first-child {
  margin-right: 10px;
}

/* line 570, ../sass-files/sass/views/_marking.scss */
.byvolume-input label {
  font-size: 10px;
  color: #2c2e33;
}

/* line 576, ../sass-files/sass/views/_marking.scss */
.byvolume-input input {
  box-sizing: border-box;
  width: 100%;
}

/*
Settings View
*/
/* line 3, ../sass-files/sass/views/_settings.scss */
.privacy {
  position: absolute;
  width: 100%;
  top: 54px;
  bottom: 0px;
}

/* line 11, ../sass-files/sass/views/_settings.scss */
.privacy h1 {
  font-size: 20px;
  font-weight: 700;
  color: #2c2e33;
  padding: 20px;
}

/* line 19, ../sass-files/sass/views/_settings.scss */
.privacy p {
  font-size: 15px;
  font-weight: 400;
  color: #2c2e33;
  padding: 20px;
}

/* line 27, ../sass-files/sass/views/_settings.scss */
.settingsList {
  position: absolute;
  width: 100%;
  top: 54px;
  bottom: 0px;
}

/* line 35, ../sass-files/sass/views/_settings.scss */
.settingsList li {
  box-sizing: border-box;
  color: #2c2e33;
  border-bottom: 1px solid #c2c5d1;
  font-weight: 300;
  font-size: 15px;
  width: 100%;
  padding: 0px 20px 0px 20px;
  height: 40px;
  line-height: 40px;
  background-color: #e0e5e6;
}

/* line 50, ../sass-files/sass/views/_settings.scss */
.settingsList li > i {
  position: absolute;
  right: 20px;
  font-size: 15px;
  line-height: 40px;
  vertical-align: middle;
}

/* line 59, ../sass-files/sass/views/_settings.scss */
.languages li {
  background-color: #FFFFFF;
}

/*
Common
*/
/* line 52, ../sass-files/sass/base.scss */
body {
  font-family: "Nunito", sans-serif;
  background-color: #62b5c7;
  color: #255e6a;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* line 63, ../sass-files/sass/base.scss */
#console {
  display: none;
  position: absolute;
  overflow: scroll;
  z-index: 5000000;
  font-size: 10px;
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  width: 100%;
}

/* line 77, ../sass-files/sass/base.scss */
#ios-status-bar {
  width: 100%;
  height: 15px;
  background-color: #2c2e33;
}

/* line 84, ../sass-files/sass/base.scss */
#content-wrapper {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 94, ../sass-files/sass/base.scss */
.view-content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #e0e5e6;
  overflow: hidden;
}

/* line 103, ../sass-files/sass/base.scss */
select {
  -webkit-appearance: none;
  font-weight: 300;
  font-size: 15px;
  padding: 0px 20px 0 20px;
  border-radius: 4px;
  border: 0px solid;
  width: 275px;
  background-color: #FFFFFF;
  background-image: url("../images/common/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: 249px 15px;
  background-size: 16px 16px;
}

/* line 121, ../sass-files/sass/base.scss */
input[type=range] {
  margin: 0;
  padding: 0;
  height: 10px;
}

/* line 129, ../sass-files/sass/base.scss */
.simple-button {
  box-sizing: border-box;
  height: 44px;
  line-height: 44px;
  border-radius: 4px;
  background-color: #83bb3f;
  color: #FFFFFF;
  padding: 0 20px 0 20px;
  text-align: center;
  vertical-align: middle;
  width: auto;
  display: inline-block;
}

/* line 144, ../sass-files/sass/base.scss */
.line {
  height: 41px;
  line-height: 41px;
  width: 100%;
  background-image: url("../images/common/line.png");
  background-repeat: repeat-x;
  background-position: top left;
  background-size: 41px 100%;
  text-align: center;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
  /* line 8, ../sass-files/sass/mixins/retina/_retina.scss */
  .line {
    background-image: url("../images/common/line@2x.png");
    -webkit-background-size: 41px 100%;
  }
}

/* line 154, ../sass-files/sass/base.scss */
.line span {
  color: #2c2e33;
  padding: 0 20px 0 20px;
  background-color: #e0e5e6;
}

/* line 161, ../sass-files/sass/base.scss */
.allWidth {
  display: block;
  width: 100%;
}

/* line 168, ../sass-files/sass/base.scss */
.notification {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 50px;
  z-index: 100;
  background-color: #2c2e33;
  color: #FFFFFF;
  padding: 0px;
  font-weight: 300;
  font-size: 12px;
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
}

/* line 186, ../sass-files/sass/base.scss */
.notification div {
  display: table-cell;
}

/* line 191, ../sass-files/sass/base.scss */
.notification-icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  font-size: 20px;
  text-align: center;
}

/* line 203, ../sass-files/sass/base.scss */
.notification-content {
  padding: 10px 20px 10px 10px;
  vertical-align: top;
}

/* line 210, ../sass-files/sass/base.scss */
.notification-content i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  font-size: 20px;
  text-align: center;
}

/* line 221, ../sass-files/sass/base.scss */
.notification-close {
  width: 50px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  font-size: 20px;
  background-color: #000000;
  text-align: center;
}
