/* TYPE 1 : MANAGE VIEW MARKING*/
input[type=checkbox].manage-marking-checkbox
{
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height:1px;
  width:1px;
  margin:-1px;
  padding:0;
  border:0;
}

input[type=checkbox].manage-marking-checkbox + label
{
  box-sizing: border-box;
  padding-left:48px;
  height:24px;
  display:inline-block;
  line-height:24px;
  background-repeat:no-repeat;
  background-position: 0 -23px;
  font-size:15px;
  vertical-align:middle;
  cursor:pointer;
  background-image:url(#{$image-path}common/checkbox/manage-marking-check.png);
}

input[type=checkbox].manage-marking-checkbox:checked + label
{
  background-position: 0 0;
  color: $color-blue-sky;
}

/* TYPE 2 : MANAGE VIEW BATCHES*/
input[type=checkbox].manage-batch-checkbox
{
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height:1px;
  width:1px;
  margin:-1px;
  padding:0;
  border:0;
}

input[type=checkbox].manage-batch-checkbox + label
{
  box-sizing: border-box;
  padding-left:48px;
  height:24px;
  display:inline-block;
  line-height:24px;
  background-repeat:no-repeat;
  background-position: 0 -23px;
  font-size:15px;
  vertical-align:middle;
  cursor:pointer;
  background-image:url(#{$image-path}common/checkbox/manage-batch-point.png);
}

input[type=checkbox].manage-batch-checkbox:checked + label
{
  background-position: 0 0;
  color: $color-blue-sky;
}



