$color-blue-sky: #62b5c7;
$color-white: #FFFFFF;
$color-green-dark: #255e6a;
$color-green: #83bb3f;
$color-green-light: #95c758;
$color-green-fluo: #bae981;
$color-grey-content-bkg: #e0e5e6;
$color-grey-dark: #2c2e33;
$color-grey-line: #c2c5d1;
$color-blue-dark: #36383d;
$color-green-shadow: #659428;
$color-grey-map-icon: #50535d;
$color-red-map-icon: #aa0000;
