$font-default-stack:'Nunito', sans-serif;

//Font sizes
$font-size-small:10px;
$font-size-small-plus2:12px;
$font-size-notification:12px;
$font-size-medium:15px;
$font-size-large:20px;
$font-size-xlarge:30px;
$font-size-giant:40px;

//font weight
$font-weight-light:300;
$font-weight-normal:400;
$font-weight-bold:700;


@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: url(#{$font-path}Nunito/Nunito-Light.ttf) format('opentype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url(#{$font-path}Nunito/Nunito-Regular.ttf) format('opentype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url(#{$font-path}Nunito/Nunito-Bold.ttf) format('opentype');
}