$inline-menu-min-height : 55px;
ul.bottom_btns_wrapper
{
  z-index: 100;
  box-sizing: border-box;
  position:absolute;
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  min-height: $inline-menu-min-height;
  background-color: $color-blue-sky;
  color: $color-white;
  bottom: 0;
}

.bottom_btns_wrapper li
{
  box-sizing: border-box;
  display:table-cell;
  height: 100%;
  line-height: 100%;
  vertical-align: middle;
  border : 1px solid $color-grey-line;
  text-align: center;
}