@import "compass/reset";
@import "partial/all";
@import "mixins/all";
@import "font-awesome/font-awesome";
@import "views/popups";
@import "views/note";

/*
Header View
*/
@import "views/header";

/*
Menu View
*/
@import "views/home";

/*
Map View
*/
@import "views/map";

/*
FAQ View
*/
@import "views/faq";

/*
MANAGE View
*/
@import "views/manage";

/*
Marking View
*/
@import "views/marking";


/*
Settings View
*/
@import "views/settings";


/*
Common
*/
html
{
}

body
{
  font-family: $font-default-stack;
  background-color: $color-blue-sky;
  color:$color-green-dark;
  overflow: hidden;
  //-ms-content-zooming: none;
  width: 100%;
  height: 100%;
}

#console
{
  display: none;
  position: absolute;
  //pointer-events:none;
  overflow: scroll;
  z-index: 5000000;
  font-size: 10px;
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  width: 100%;
}

#ios-status-bar
{
  width: 100%;
  height: 15px;
  background-color: $color-grey-dark;
}

#content-wrapper
{
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  //background-color: rgba(255,0,0,0.6);;
}

.view-content
{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $color-grey-content-bkg;
  overflow: hidden;
}

select
{
  -webkit-appearance: none;
  font-weight: $font-weight-light;
  font-size:  $font-size-medium;
  padding: 0px 20px 0 20px;
  border-radius: 4px;
  border: 0px solid;
  $bkg-posy: round(($marking-input-height - 16px)/2);
  $bkg-posx: round($marking-form-width - 16px - 10px);
  width: $marking-form-width;
  background-color: $color-white;
  background-image: url("#{$image-path}common/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: $bkg-posx $bkg-posy;
  background-size: 16px 16px;
}

input[type=range]
{
  margin: 0;
  padding: 0;
  height : 10px;
 // background-color: red;
}

.simple-button
{
  box-sizing:border-box;
  height: 44px;
  line-height: 44px;
  border-radius: 4px;
  background-color: $color-green;
  color: $color-white;
  padding:0 20px 0 20px;
  text-align: center;
  vertical-align: middle;
  width: auto;
  display: inline-block;
}

.line
{
  height: 41px;
  line-height: 41px;
  width: 100%;
  @include background-image-retina('#{$image-path}common/line', 'png', 41px, 100%, top left, repeat-x);
  text-align: center;
  vertical-align: middle;
}

.line span
{
  color:$color-grey-dark;
  padding: 0 20px 0 20px;
  background-color: $color-grey-content-bkg;
}

.allWidth
{
  display: block;
  width: 100%;
}

$notification-min-height:50px;
.notification
{
  box-sizing:border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height:$notification-min-height ;
  z-index: 100;
  background-color: $color-grey-dark;
  color: $color-white;
  padding:0px;
  font-weight: $font-weight-light;
  font-size:  $font-size-notification;
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
}
.notification div
{
  display:table-cell;
}

.notification-icon
{
  width: $notification-min-height;
  //color: red;
  height:$notification-min-height ;
  line-height: $notification-min-height;
  vertical-align: middle;
  font-size: $font-size-large;
  //background-color: #000000;
  text-align: center;
}

.notification-content
{
  //background-color: yellow;
  padding:10px 20px 10px 10px;
  vertical-align: top;
}

.notification-content i
{
  width: $notification-min-height;
  //color: red;
  height:$notification-min-height ;
  line-height: $notification-min-height;
  vertical-align: middle;
  font-size: $font-size-large;
  text-align: center;
}

.notification-close
{
  width: $notification-min-height;
  //color: red;
  height:$notification-min-height ;
  line-height: $notification-min-height;
  vertical-align: middle;
  font-size: $font-size-large;
  background-color: #000000;
  text-align: center;
}