<!-- Manage  -->
<div class="view-content manage">
    <div id="view-header">Header</div>

    <div id="manage-wrapper">

        <ul class="tabWrap">
            <li id="tabMarking">{{_r.manage_tab_marking}}</li>
            <li id="tabBatches">{{_r.manage_tab_batches}}</li>
            <li id="tabInventory">{{_r.manage_tab_inventory}}</li>
        </ul>

        <!-- marking group list  -->
        <div id="manageAccordion" class="accordion scrollview tabContent markingGroupList">

            {{#each data.groups}}

            <div class="accordionItem markingGroupItem">
                <h1>{{this.customName}}<i class="fa fa-caret-down"></i></h1>

                {{#each this.markings}}
                <p id="marking{{this}}">{{markingIdToLabel this}}<i class="fa fa-info-circle infoMarking"></i></p>
                {{/each}}

            </div>

            {{/each}}

            {{#unless data.groups.length}}
            <h1 class="nothing">{{../_r.no_group}}</h1>
            {{/unless}}

        </div>

        <!-- batches list (stock)  -->
        <div class="accordion scrollview tabContent batchesList">

            {{#each data.batches.stock}}

            <div class="accordionItem batchItem">
                <h1>
                    <input type="checkbox" id="checkboxLot{{this.id}}" class="manage-batch-checkbox"/>
                    <label for="checkboxLot{{this.id}}">{{this.name}}</label><!-- {{../_r.common_batch}}: -->
                    <i class="fa fa-caret-down"></i>
                </h1>

                <p class="batch-price">
                    <span>{{../_r.manage_estimated_price}}</span>
                    <span class="price">{{this.priceForTemplate}}€</span>
                </p>

                {{#each this.markings}}

                    <p id="marking{{this}}">
                        <input type="checkbox" id="checkbox{{../id}}_{{this}}" class="manage-marking-checkbox"/>
                        <label for="checkbox{{../id}}_{{this}}">{{../../_r.common_marking}} {{markingIdToLabel this}}</label>
                        <i class="fa fa-info-circle infoMarking"></i>
                    </p>

                {{/each}}

            </div>

            {{/each}}

            {{#unless data.batches.stock.length}}
            <h1 class="nothing">{{../_r.no_batches}}</h1>
            {{/unless}}

        </div>

        <!-- Inventory list  -->
        <div class="accordion scrollview tabContent inventoryList">

            {{#each data.batches.inventory}}

            <div class="accordionItem inventoryItem">
                <h1>
                    {{#unless this.isDefault}}
                    <input type="checkbox" id="checkboxLot{{this.id}}" class="manage-batch-checkbox"/>
                    {{/unless}}
                    <label for="checkboxLot{{this.id}}">{{this.name}}</label><!-- {{../_r.common_batch}}:  -->
                    {{#if this.markings.length}}
                    <i class="fa fa-caret-down"></i>
                    {{/if}}
                </h1>

                {{#each this.markings}}

                <p id="marking{{this}}">
                    <input type="checkbox" id="checkbox{{../id}}_{{this}}" class="manage-marking-checkbox"/>
                    <label for="checkbox{{../id}}_{{this}}">{{../../_r.common_marking}} {{markingIdToLabel this}}</label>
                    <i class="fa fa-info-circle infoMarking"></i>
                </p>

                {{/each}}


            </div>

            {{/each}}

            {{#unless data.batches.inventory.length}}
            <h1 class="nothing">{{../_r.no_batches}}</h1>
            {{/unless}}

        </div>

        <!--  Action Btns-->
        <ul id="batchActionBtn" class="bottom_btns_wrapper">
            <li id="changeBatchBtn">{{_r.manage_changeBatch}}</li>
            <li id="deleteBatchBtn"><i class="fa fa-trash-o"></i></li>
        </ul>

        <!-- Bath selection -->
        <select  id="batchSelect">
            <option value="new" selected="selected">{{_r.manage_newBatch}}</option>

        </select>
    </div>

</div>