#faq-wrapper
{
  position: absolute;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  top:$header-height + 2px;
  bottom:0px;
}

.faqItem
{
  background-color: $color-grey-content-bkg;
  color:$color-grey-dark;
  font-size: $font-size-medium;
}

.faqItem h1
{
  box-sizing: border-box;
  font-weight: $font-weight-bold;
  border-top: 1px solid $color-grey-line;
  width: 100%;
  padding: 10px 20px 10px 20px;
}

.faqItem p
{
  box-sizing: border-box;
  display: none;
  font-weight: $font-weight-light;
  line-height: $font-size-large;
  padding: 10px 20px 10px 20px;
}