$header-height:54px;
#view-header
{
  width: 100%;
  height: $header-height;
  background-color: $color-green;
  border-bottom: 2px solid rgba(255,255,255,0.2);
}

.header-wrapper
{
  width: 100%;
}

.header-part
{
  position: absolute;
}

.header-part div
{
  box-sizing: border-box;
  height: $header-height;
  line-height: $header-height;
  vertical-align: middle;
  color:$color-white;
}

.header-left
{
  box-sizing: border-box;
  height: $header-height;
  z-index: 11;
  line-height: $header-height;
  text-align: left;
  width: auto;
  //background-color: blue;
  min-width: 35px;
}

.header-left a
{
  display: block;
  box-sizing: border-box;
  height: $header-height;
  min-width: 35px;
  //background-color: yellow;
  padding: 6px 20px 0 20px;
}

.header-center
{
  z-index: 10;
  top:0;
  left:0;
  font-size: $font-size-large;
  text-align: center;
  width: 100%;
}

.header-right
{
  z-index: 12;
  top:0;
  right:0;
  margin-right: 20px;
  text-align: center;
  width: auto;
}

$header-icon-width:25px;
.header-icon
{
  text-align: center;
  color:$color-white;
  font-size: $header-icon-width;
  width: $header-icon-width;
}