$home-input-width: 275px;
/*
Menu View
*/

#menu-wrapper
{
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  @include background-image-retina('#{$image-path}common/menu_bkg', 'jpg', 100%, 480px, bottom left, no-repeat );
  //background-position: bottom left;
  background-attachment:fixed;
  background-color: $color-blue-sky;
  overflow: auto;
  //-webkit-overflow-scrolling: touch;
}


#homeloginForm
{
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width:$home-input-width;
  text-align: left;
  //background-color: red;
}


.menu-logo
{
  height: 18px;
  opacity: 0.5;
  margin-bottom: 20px;
}

.menu-header
{
  border-bottom: 1px solid rgba(255,255,255,0.5);
  padding: 22px 22px 22px 22px;
}

.menu-welcome
{
  @include textformat-default(16px, $color-white, 0.5);
  margin-bottom: 8px;
}
.menu-username
{
  @include textformat-default(30px, $color-white);
}

.menu-list-wrapper
{
 /* width: 100%;
  height: 100%;
  overflow: auto;*/
}

$menu-icon-width:25px;
.menu-icon
{
  display: block;
  float: left;
  text-align: center;
  margin-right: 23px;
  color:$color-green-dark;
  font-size: $menu-icon-width;
  width: $menu-icon-width;
  line-height:50px;
}

img.menu-icon
{
  margin-top: 13px;
}

.menu-list
{

  margin: 0px 0px 0px 22px;

}

.menu-list li
{
  display: block;
  line-height:50px;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  vertical-align: middle;

  a:link, a:visited, a:hover, a:active
  {
    color:$color-green-dark;
    text-decoration: none;
    display: block;
    line-height:50px;
   // background-color: green;
    padding: 0 0 0 40px;
  }
}


.home-fieldset
{
  position: absolute;
  box-sizing: border-box;
  border:0px;
  display: block;
  font-weight: $font-weight-light;
  text-align: left;
  width:$home-input-width;
  height: 45px;

}

.home-input
{
  position: absolute;
  box-sizing: border-box;
  font-weight: $font-weight-light;
  font-size:  $font-size-medium;
  line-height: $font-size-medium;
  padding: 0px 20px 0 40px;
  height: 45px;
  border-radius: 4px;
  border: 0px solid;
  color: $color-grey-dark;
  width:$home-input-width;
}

.home-fieldset i
{
  z-index: 20;
  position: absolute;
  left:15px;
  top:15px;
  color: $color-grey-line;
  //background-color: red;
  font-size: $font-size-medium;
  line-height: $font-size-medium;
  padding: 0;
  margin: 0;
}

.home-submit
{
  box-sizing: border-box;
  font-weight: $font-weight-light;
  font-size:  $font-size-medium;
  height: 45px;
  line-height: 45px;
  border-radius: 4px;
  border: 0px solid;
  color: $color-white;
  background-color: $color-grey-dark;
  width:$home-input-width;
  text-align: center;
  display: block;
}

.home-help
{
  margin-top:10px;
  position: absolute;

  a:link, a:visited, a:hover, a:active
  {
    color:$color-white;
    text-decoration: underline;
  }
}

#homeloginForm h2
{
  color: $color-white;
  opacity: .5;
  font-weight: $font-weight-light;
  font-size:  $font-size-medium;
  line-height: $font-size-large;
 // background-color: yellow;
  //margin-bottom:40px;
}

.login-logo
{
  height: 25px;
  opacity: 1;
}

.user
{
  top:100px;
}

.pass
{
  top:155px;
}
.submit
{
  top:210px;
}