$TAB-btn-height:45px;
$Accodion-item-height:50px;
.tabWrap
{
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

}

.tabWrap li
{
  display:table-cell;
  background-color: $color-green;
  height: $TAB-btn-height;
  line-height: $TAB-btn-height;
  vertical-align: middle;
  //border-top : 1px solid $color-green-light;
  border-left : 1px solid $color-green-light;
  text-align: center;
  color: $color-white;
}

.scrollview
{
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.tabContent
{
  position: absolute;
  width: 100%;
  top:$header-height + $TAB-btn-height + 2px;
  bottom:0;
  //background-color: red;
}


.accordionItem h1
{
  color: $color-grey-dark;
  box-sizing: border-box;
  font-weight: $font-weight-light;
  font-size: $font-size-medium;
  border-top: 1px solid $color-grey-line;
  width: 100%;
  padding: 0px 20px 0px 20px;
  background-color: $color-white;
  height: $Accodion-item-height;
  line-height: $Accodion-item-height;

}

.accordionItem p
{
  box-sizing: border-box;
  display: none;
  font-weight: $font-weight-light;
  height: $Accodion-item-height;
  line-height: $Accodion-item-height;
  font-size: $font-size-medium;
  padding: 0px 20px 0px 20px;
  background-color: $color-blue-dark;
  color: $color-white;
}

.accordionItem p i
{
  position: absolute;
  right: 18px;
  font-size: $font-size-large;
  line-height: $Accodion-item-height;
  vertical-align: middle;
  color: $color-grey-line;
  font-size: $font-size-large;
 // background-color: red;
  padding: 0 10px 0 10px;
}

.accordionItem h1 i
{
  position: absolute;
  right: 20px;
  font-size: $font-size-large;
  line-height: $Accodion-item-height;
  vertical-align: middle;
  color: $color-grey-line;
  padding: 0 10px 0 10px;
  //background-color: red;
}

/* BATCH TAB */
.manage-marking-check
{
  padding-left:20px;
}



p.batch-price
{
  box-sizing: border-box;
  color: $color-grey-content-bkg;
  line-height:$Accodion-item-height;
  vertical-align: middle;
  display: none;
  height: $Accodion-item-height;
  width: 100%;
  border-collapse: collapse;

}

p.batch-price span
{
  box-sizing: border-box;
  display:table-cell;
  padding-left:20px;
  padding-top:5px;
}
p.batch-price span.price
{
  box-sizing: border-box;
  width:100px;
  text-align: right;
  padding-right:20px;
  font-size: $font-size-medium;
}

.nothing
{

}