#map-wrapper
{
  position: absolute;
  top:$header-height;
  bottom:0px;
  right:0px;
  left:0px;
  background-color: $color-grey-content-bkg;
}

.map
{
  width: 100%;
  height: 100%;
}

#customControls
{
  /*z-index: 100;
  position: absolute;
  top: 20px;
  right: 20px;*/
}

$map-icon-size : 40px;
$map-icon-margin : 10px;
.customControl
{
  position: absolute;
  z-index: 100;
  background-color: $color-white;
  color: $color-grey-map-icon;
  width:$map-icon-size;
  height:$map-icon-size;
  border-radius: 4px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.customControl i
{
  display: block;
  width: $map-icon-size;
  height: $map-icon-size;
  font-size: $font-size-xlarge;
  //background-color: red;
  line-height: $map-icon-size;
  text-align: center;
}
#mapIconCenter
{
  left:$map-icon-margin;
  top:$map-icon-margin + 20;
}
#mapIconGeolocMe
{
  left:$map-icon-margin;
  bottom:$map-icon-margin + 20;
}
#mapAddNote
{
  left:$map-icon-margin + $map-icon-size + $map-icon-margin;
  bottom:$map-icon-margin + 20 ;

}
#mapIconZoomPlus
{
  right:$map-icon-margin;
  bottom:$map-icon-margin + 20 + $map-icon-size + $map-icon-margin;
}
#mapIconZoomMinus
{
  right:$map-icon-margin;
  bottom:$map-icon-margin + 20;
}

#mapIconTrack
{
  left:$map-icon-margin;
  bottom:$map-icon-margin + 20;
  color: $color-red-map-icon
}

#blockGoogleLink
{
  position: absolute;
  z-index: 90;
  width: 100%;
  //background-color: red;
  height:30px;
  left:0;
  bottom:0;
}


#loadingIcon
{
  position: absolute;
  left: 50%;
  top:50%;
 // background-color: yellow;
  text-align: center;

}

#loadingIcon i
{

  $loading-icon-size : 20px;
  width: $loading-icon-size;
  height: $loading-icon-size;
  font-size: $loading-icon-size;

  position: relative;
  left:-50%;
  top:-50%;
}

#map
{
  width: 300px;
  height: 300px;
  //background-color: yellow;
}

div.ol-logo {
  left: 65px;
}