$marking-input-height:45px;
$marking-step-btn-height: 55px;
$marking-nextStep-height: 55px;
$marking-form-element-width:235px;
$marking-form-width:275px;
$marking-stepinfos-height:72px;
.marking
{
  @include background-image-retina('#{$image-path}common/marking_bkg', 'png', 100%, 116px, bottom left, no-repeat );
}

#marking-stepsInfos
{
  display: block;
  width: 100%;
  height: $marking-stepinfos-height;
  background-color: $color-green;
  line-height: $marking-stepinfos-height;
  vertical-align: middle;
  color: $color-green-fluo;
  text-align: center;
}

#marking-stepsInfos i
{
  display: inline-block;
  box-sizing: border-box;
  line-height: $marking-stepinfos-height;
  vertical-align: middle;
  font-size: 18px;
  margin: 0 3px 0 3px;
 // background-color: darkblue;
}

#marking-stepsInfos .big
{
  font-size: 50px;
}


#marking-stepsInfos .small
{
  font-size: 5px;
}

#stepInfos
{
  $circle-width:50px;
  box-sizing: border-box;
  position: fixed;
  background-image: url("#{$image-path}common/marking-stepinfos-bkg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: #{$circle-width} #{$circle-width};
  width: $circle-width;
  height: $circle-width;
  line-height: $circle-width;
  vertical-align: middle;
  color: $color-white;
  //background-color: red;
  //-webkit-transition-duration: .5s;
}

#stepInfos span
{
  font-size: $font-size-small;
  font-weight: $font-weight-light
}


#scrollable-view
{
  position: absolute;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  top:72px + $header-height + 2px;
  bottom:$marking-step-btn-height;//0px;
  //background-color: yellow;
}

#marking-content-wrapper
{
  z-index: 0;
  text-align: center;
}

.marking-step-title
{
  color: $color-grey-dark;
  font-size: $font-size-large;
  margin:40px 0  40px 0;
}

.nextStep
{
  display: none;
  margin: 80px 0 0 0;
  height:$marking-nextStep-height;
}

.nextStep h1
{
  color: $color-grey-dark;
  font-size: $font-size-large;
  text-align: center;
  margin-bottom: 10px;
}

.nextStep p
{
  color: $color-grey-dark;
  font-size: $font-size-medium;
  font-weight: $font-weight-light;
  opacity: .7;
  text-align: center;
  margin-bottom: 10px;
}


.marking-step-btn
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $marking-step-btn-height;
  z-index: 30;
  margin-top:30px;
}

.marking-step-btn-row
{
  display: table;
  table-layout:fixed;
  width: 100%;
}

.marking-step-btn ul
{
  display: table-row;
  width: 100%;
  border-collapse: collapse;
 // table-layout: fixed;
  text-align: center;
}

.marking-step-btn-row li
{
  display: table-cell;
  border-collapse: collapse;
  height : $marking-step-btn-height;
  vertical-align: middle;
  border: 1px solid $color-grey-line;
  color: $color-grey-dark;
  overflow: hidden;
}

.marking-btn-new i
{
  margin-right:10px;
  color: $color-grey-line;
}

.marking-input
{
  font-weight: $font-weight-light;
  font-size:  $font-size-medium;
  padding: 0px 20px 0 20px;
  height:$marking-input-height;
  border-radius: 4px;
  border: 0px solid;
  color: $color-grey-dark;
}

.marking-btn
{
  font-weight: $font-weight-light;
  font-size:  $font-size-medium;
  height: 62px;
  line-height: 62px;
  border-radius: 4px;
  border: 0px solid;
  color: $color-white;
  background-color: $color-blue-sky;
}

.GPS-btn
{
  width: $marking-form-width;
  margin: auto;
}

.marking-gps-result i
{
  color: $color-grey-line;
  font-size: 50px;
  margin-top: 20px;
}

.marking-gps-result p
{
  font-size: $font-size-small;
  color: $color-grey-dark;
  margin-top: 20px;
}

.new-group
{
  box-sizing: border-box;
  width : $marking-form-width;
}

.marking-kind-list li
{
  display: block;
  height: 70px;
  line-height:70px;
  vertical-align: middle;
  margin-bottom: 1px;
  background-color: $color-white;
  text-align: center;
  color: $color-grey-dark;
  font-weight: $font-weight-light;
}

.marking-kind-list li p
{
  text-align: left;
  padding-left:73px;
  display: block;
  width: 210px;
  margin:auto;
  //background-color: violet;
}

.marking-kind-list li.foot p
{
  @include background-image-retina('#{$image-path}common/foot-icon', 'png', 68px, 68px, top left, no-repeat);
}
.marking-kind-list li.wood p
{
  @include background-image-retina('#{$image-path}common/wood-icon', 'png', 68px, 68px, top left, no-repeat);
}
.marking-kind-list li.ground p
{
  @include background-image-retina('#{$image-path}common/ground-icon', 'png', 68px, 68px, top left, no-repeat);
}

.marking-form-wrapper
{
  margin: auto;
  box-sizing: border-box;
  width: $marking-form-width;
  //background-color: darkgoldenrod;
}
.marking-fieldset
{
  border:0px;
  margin: 10px 0 0 0;
  font-weight: $font-weight-light;
  text-align: left;
  //background-color: violet;
}

.marking-fieldset img
{
  width:24px;
  height:24px;
  margin-left: 10px;
  vertical-align:middle;
}

.sliderFieldset
{
  color: $color-grey-dark;
  margin-bottom: 20px;
}

.slider
{
  width: $marking-form-element-width;
}

.details-input
{
  box-sizing: border-box;
  width: $marking-form-element-width;
}

.slider
{
  margin-top: 10px;
  color: $color-grey-dark;
  text-align: left;
}

fieldset .scrolling
{
  margin-bottom: 30px;
}

.slider-label
{
  display: block;
  vertical-align: middle;
  margin: 10px 0 10px 20px;
}

input[type=range] {
  -webkit-appearance: none;
  background-color: silver;
  border-radius: 10px;
  height:10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: $color-grey-dark;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}


#quality-value
{
  display: inline-block;
  width: 20px;
  height:20px;
  margin: 0 0 10px 10px;
  font-weight: $font-weight-normal;
  //background-color: red;
  text-align: center;
}

.marking-select
{
  padding: 0px 20px 0 20px;
  height:$marking-input-height;
  font-weight: $font-weight-bold;
}

.end-success
{
  padding-top:20px;
  padding-bottom:20px;
  background-color: $color-green;
}

.end-success i
{
  color:$color-green-fluo;
}
.end-success h1
{
  margin-top: 20px;
  margin-bottom: 20px;
}
.end-success p
{
  color: $color-grey-dark;
  font-size: $font-size-large;
}

.end-success .marking-number
{
  font-size: $font-size-giant;
}

.add-note
{
  background-color: $color-green-light;
  color: $color-white;
  font-size: $font-size-medium;
  font-weight: $font-weight-bold;
  text-align: center;
  line-height: 44px;
  vertical-align: middle;
}

.add-note i
{
  /*height:44px;
  line-height: 44px;*/
  vertical-align: middle;
  margin-left: 10px;
}

.marking-group-summary
{
  color: $color-grey-dark;
  background-color: $color-grey-content-bkg;// hotpink;
}

.marking-group-summary p
{
  display: block;
  line-height: 44px;
  text-align: center;
  border-bottom: 1px solid $color-green;
  vertical-align: middle;
  font-weight: $font-weight-light;
}

.marking-group-summary li
{
  display: block;
  line-height:50px;
  text-align: left;
  padding-left: 20px;
  font-size: $font-size-small-plus2;

  a:link, a:visited, a:hover, a:active
  {
    color:$color-grey-dark;
    text-decoration: none;
  }

}
.marking-group-summary li span
{
  position: absolute;
  right: 0;
  width: 100%;
  text-align: right;
}

.marking-group-summary li i
{

  vertical-align: middle;
  font-size: $font-size-large;
  margin-right:20px;
}

.yes-no
{
  position: relative;
  box-sizing: border-box;
  height:$marking-input-height;
  width: $marking-form-width;
  //background-color: red;
  margin:10px 0 20px;
  font-size: $font-size-medium;
}

.yes-no .left
{
  position: absolute;
  width: $marking-form-width - 130px;
  left:0;
  top:0;
  height: 100%;
  //background-color: yellow;

}

.yes-no .right
{
  position: absolute;
  width: 130px;
  right:0;
  top:0;
  //background-color: blue;
}

.yes-no .right p
{
  display: block;
  width: 50%;
  float: left;
  color: $color-grey-dark;
  background-color: $color-white;
  height:$marking-input-height;
  line-height:$marking-input-height;
}


.yes-no .left p
{
  position: absolute;
  top:0;
  left: 0;
  color: $color-grey-dark;
  padding-right: 10px;
 // background-color: salmon;
  text-align: left;
  vertical-align: middle;
}

.wood-summary-list li
{
  display: block;
  color: $color-grey-dark;
  font-size: $font-size-medium;
  line-height: 42px;
  border-bottom: 1px solid $color-grey-line;
}

.wood-summary-list p
{
  color: $color-grey-dark;
  font-size: $font-size-medium;
  font-weight: $font-weight-bold;
  margin: 15px 0 15px 0;
}

.wood-byvolume-list
{
  display: block;
  width: $marking-form-width;
}

.wood-byvolume-list ul
{
  display: table;
  table-layout: fixed;
  margin-top:20px;
}

.wood-byvolume-list ul li:last-child
{
  border-bottom: 0px solid $color-grey-line;
}

.wood-byvolume-list li
{
  border-bottom: 1px solid $color-grey-line;
 // display: table-row;
  color: $color-grey-dark;
  font-size: $font-size-medium;
  line-height: 42px;
  width: $marking-form-width;
  text-align: left;
}

.wood-byvolume-list li span
{
  display: table-cell;
  width: $marking-form-width - 30px;
}

.wood-byvolume-list li i
{
  display: table-cell;
  width: 30px;
  text-align: center;
}


.byvolume-input div
{
  box-sizing: border-box;
  width: 85px;
  float: left;
  //background-color: darkgoldenrod;

}

.byvolume-input div:last-child
 {
   margin-left:10px;
 }

.byvolume-input div:first-child
{
  margin-right:10px;
}

.byvolume-input label
{
  font-size: $font-size-small;
  color: $color-grey-dark;
}

.byvolume-input input
{
  box-sizing: border-box;
  width: 100%;
}

