$NOTE-btn-height: 55px;
$NOTE-header-height: 55px;
$NOTE-photoPlaceholder-height: 50px;
$note-input-height:45px;
#body-note-wrapper
{
  z-index:100;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#note_wrapper
{
  z-index:500;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  color:$color-grey-dark;
  overflow: hidden;
}

.note
{
  z-index:500;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.note.noteOpen
{
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.note.noteClose
{
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);

}

.note.noteTransition
{
  -webkit-transition-duration: .25s;
  transition-duration: .25s;
}

#note_header
{
  width: 100%;
  box-sizing: border-box;
  height: $NOTE-header-height;
  line-height: $NOTE-header-height;
  vertical-align: middle;
  background-color: $color-grey-content-bkg;
  border-bottom: 1px solid $color-grey-line;
  font-size: $font-size-large;
  text-align: center;
}

#note_header  .note_close_icon
{
  position: absolute;
  left:20px;
  top:10px;
  font-weight: $font-weight-normal;
  font-size: 30px;
}

#note_type
{
  position: absolute;
  top:0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height:$note-input-height;
  //background-color: blue;
}
.note-select
{
  position: absolute;
  padding: 0px 20px 0 20px;
  height:$note-input-height;
  font-weight: $font-weight-bold;
}

#note_text
{
  background-color:#eeeeee;
  width: 100%;
}

#note_textArea
{
  position: absolute;
  box-sizing: border-box;
  width: 96%;
  background-color:#ffffff;
  border: 0px solid;
  padding:20px 20px 20px 20px;
  margin-left:2%;
  font-size: $font-size-medium;
  line-height: 25px;
  min-height: 150px;
}

#note_photo_placeholder
{
  position:absolute;
  box-sizing: border-box;
  padding: 20px 20px 0px 20px;
  //margin-bottom: 20px;
  width: 100%;
  height: $NOTE-photoPlaceholder-height  + 20px;
  //background-color: yellow;
  bottom: $NOTE-btn-height + 20px;
  text-align: center;
}

#note_photo_placeholder ul
{
  position: absolute;
  left: 20px;
  top: 20px;
  box-sizing: border-box;
  display: table;
  width: 100%;
  border: 1px dashed $color-grey-line;
  border-collapse: collapse;
  height: $NOTE-photoPlaceholder-height;
  background-color: $color-grey-content-bkg;
  overflow: hidden;
}

#note_photo_placeholder ul li
{
  display:table-cell;
  overflow: hidden;
}

.note_photo
{
  width:80px;
  height:$NOTE-photoPlaceholder-height;

}

.note_photo img
{
  position: absolute;
  left: 0;
  background-color: $color-grey-dark;
  width: 80px;
  height: auto;
  margin: 0px;
  padding: 0px;

}



.note_photo_details
{

}

.note_photo_details p
{
  //position: absolute;
  //display: inline;
  width: 100%;
  text-align: left;
  margin:5px 0 0 10px;
  //background-color: red;
}

.photo_filename
{
  //background-color: firebrick;
  //font-size: $font-size-large;
}

.photo_infos
{
  //background-color: darkcyan;
  font-size: $font-size-small;
  font-weight: $font-weight-light;
}

.note_photo_delete
{
  width:60px;
  height: 100%;
  line-height: 100%;
  vertical-align: middle;
  font-size: $font-size-xlarge;
  //background-color: $color-blue-sky;
}

#note_btns
{
  box-sizing: border-box;
  position:absolute;
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  height: $NOTE-header-height;
  background-color: $color-grey-content-bkg;
  bottom: 0;
}

#note_btns li
{
  box-sizing: border-box;
  display:table-cell;
  height: 100%;
  line-height: 100%;
  vertical-align: middle;
  border : 1px solid $color-grey-line;
  text-align: center;
}

#noteImgFullscreen
{
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom:0;
  z-index: 501;
  width: 100%;
  background-color: #000000;
}

#noteImgFullscreen img
{
  position: absolute;
  //width: 100%;
}

#fullscreen_close_btn
{
  z-index: 502;
  color: $color-white;
  position: absolute;
  right:20px;
  top:20px;
  font-size: $font-size-large;
}
