$POPUP_WIDTH:275px;
$POPUP-btn-height: 55px;
$popup-input-height:45px;

.popup-wrapper
{
  z-index: 1000;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: rgba(0,0,0,0.6);
}

.popupContent
{
  position: absolute;
  box-sizing: border-box;
  border-radius: 4px;
  background-color:$color-grey-content-bkg;
  color: $color-grey-dark;
  width: $POPUP_WIDTH;
  height: auto;
  padding:20px 0 0 0;
  font-weight: $font-weight-light;
  font-size: $font-size-medium;
  text-align: center;
  word-wrap: break-word;
}

.popupContent h1
{
  margin:10px;
  font-weight: $font-weight-bold;
  font-size: $font-size-large;

}

.popupContent p
{
  margin:10px;
  line-height: $font-size-large;

}

.popupAlignLeft
{
  margin-left:20px;
  text-align: left;
}

.buttonWrap
{
  display: table;
  margin-top:20px;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  //background-color: blue;
  height: $POPUP-btn-height;
  //color:Green;
}

.buttonWrap li
{
  display:table-cell;
  //background-color: red;
  height: $POPUP-btn-height;
  line-height: $POPUP-btn-height;
  vertical-align: middle;
  border-top : 1px solid $color-grey-line;
  border-left : 1px solid $color-grey-line;
}

.buttonWrap > li:first-child
{
  border-left : 0px solid $color-grey-line;
  //background-color: red;
}

.popup-input
{
  font-weight: $font-weight-light;
  font-size:  $font-size-medium;
  padding: 0px 20px 0 20px;
  height:$popup-input-height;
  border-radius: 4px;
  border: 0px solid;
  color: $color-grey-dark;
  margin:10px 0 10px 0;
  text-align: center;
}
$popup-yesno-margin-right:$POPUP_WIDTH - 140px;
div.popup-yes-no
{
  display: block;
  margin:0px 0 0px $popup-yesno-margin-right/2;
  text-align: center;
  //background-color: red;
}

.popup-yes-no p
{
  display: block;
  width: 70px;
  float: left;
  color: $color-grey-dark;
  background-color: $color-white;
  height:$popup-input-height;
  line-height:$popup-input-height;
  margin:0 0 20px 0;
}