$settings-item-height:40px;

.privacy
{
  position: absolute;
  width: 100%;
  top:$header-height;
  bottom:0px;
}

.privacy h1
{
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  color: $color-grey-dark;
  padding: 20px;
}

.privacy p
{
  font-size: $font-size-medium;
  font-weight: $font-weight-normal;
  color: $color-grey-dark;
  padding: 20px;
}

.settingsList
{
  position: absolute;
  width: 100%;
  top:$header-height;
  bottom:0px;
}

.settingsList li
{
  box-sizing: border-box;
  color: $color-grey-dark;
  border-bottom: 1px solid $color-grey-line;
  font-weight: $font-weight-light;
  font-size: $font-size-medium;
  width: 100%;
  padding: 0px 20px 0px 20px;
  height: $settings-item-height;
  line-height: $settings-item-height;
  background-color: $color-grey-content-bkg

}

.settingsList li > i
{
  position: absolute;
  right: 20px;
  font-size: $font-size-medium;
  line-height: $settings-item-height;
  vertical-align: middle;
}

.languages li
{
  background-color: $color-white;
}